<div class="discoverer">
  <!-- Modal -->
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div id="product-form" class="modal-content"></div>
    </div>
  </div> -->
  <!-- Modal -->

  <div class="zyxel_bread">
    <span>數據圖表視覺化 <%= @test %></span>
  </div>

  <div class="zyxel_content" style="max-width:860px">

<!--     <table class="zyxel_table_style2 devices_list">
      <thead>
        <tr class="device">
          <th class="device_info">產品</th>
          <th class="device_info">產品圖</th>
          <th class="device_info">配對示意圖</th>
          <th class="device_info">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr class="device">
          <th class=""><span class="model_name"></span></th>
          <td class=""></td>
          <td class=""> xxx </td>
          <td> <button>123</button> </td>
        </tr>
      </tbody>
    </table> -->

    <!-- <div class="zyxel_btn_area">
    </div> -->
    <div id="chart"></div>
  </div>
</div>
<script type="text/javascript">
  var chart = c3.generate({
    data: {
      x: "<%= raw @columns[0][0] %>",
      columns: <%= raw @columns %>,
      type: 'area',
      <% if @data_quantity >= 3 %>
        <% if @graph_data_number == ( "1_1" || "3_3" || "5_1" ) %>
      axes: { // For second Y axis
        "<%= raw @columns[3][0] %>": 'y2'
      }
        <% end %>
      <% end %>
    },
    zoom: {
        enabled: true
    },
    legend: {
      position: 'bottom'
      // position: 'right'
    },
    axis : {
      x: {
        label: "<%= raw @columns[0][0] %>",
        type: 'category'
      },
      y: {
        label: "<%= raw @columns[1][0] %>",
        tick: {
          format: d3.format("d")
        }
      },
      <% if @data_quantity >= 3 %>
        <% if @graph_data_number == ( "1_1" || "3_3" || "5_1" ) %>
      y2: { // For second Y axis
        show: true,
        label: "<%= raw @columns[3][0] %>",
        tick: {
          format: d3.format("d")
        }
      }
        <% end %>
      <% end %>
    }
  });
</script>