<style type="text/css">
  /* Hide C3 X axis tick text */
  g.c3-axis-x .tick text { opacity: 0; }
</style>
<div class="discoverer">
  <!-- Modal -->
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div id="product-form" class="modal-content"></div>
    </div>
  </div> -->
  <!-- Modal -->

  <div class="zyxel_bread">
    <span><%= @table_name %></span>
    <% if @axis_type == "date" %>
    <span style="float: right;"><%= "以#{@scale}為單位" %></span>
    <% end %>
  </div>

  <div class="zyxel_content" style="max-width:100%;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li class="<%= @graph_data_number=="1_1" ? "active" : "" %>"><a href="/diagram?graph_data_number=1_1<%= "&period_scale=#{@period_scale}" %>">註冊數量</a></li>
            <li class="<%= @graph_data_number=="1_2" ? "active" : "" %>"><a href="/diagram?graph_data_number=1_2<%= "&period_scale=#{@period_scale}" %>">Oauth註冊數量</a></li>
            <li class="<%= @graph_data_number=="1_3" ? "active" : "" %>"><a href="/diagram?graph_data_number=1_3<%= "&period_scale=#{@period_scale}" %>">APP註冊數量</a></li>
            <li class="<%= @graph_data_number=="1_4" ? "active" : "" %>"><a href="/diagram?graph_data_number=1_4<%= "&period_scale=#{@period_scale}" %>">登入的方式與次數</a></li>
            <li class="<%= @graph_data_number=="2_1" ? "active" : "" %>"><a href="/diagram?graph_data_number=2_1<%= "&period_scale=#{@period_scale}" %>">裝置註冊數量統計</a></li>
            <li class="<%= @graph_data_number=="2_2" ? "active" : "" %>"><a href="/diagram?graph_data_number=2_2<%= "&period_scale=#{@period_scale}" %>">裝置配對數量</a></li>
            <li class="<%= @graph_data_number=="2_3" ? "active" : "" %>"><a href="/diagram?graph_data_number=2_3<%= "&period_scale=#{@period_scale}" %>">裝置未配對數量</a></li>
            <li class="<%= @graph_data_number=="3_1" ? "active" : "" %>"><a href="/diagram?graph_data_number=3_1<%= "&period_scale=#{@period_scale}" %>">配對歷程</a></li>
            <li class="<%= @graph_data_number=="3_3" ? "active" : "" %>"><a href="/diagram?graph_data_number=3_3<%= "&period_scale=#{@period_scale}" %>">帳號與設備數量統計表</a></li>
            <li class="<%= @graph_data_number=="5_1" ? "active" : "" %>"><a href="/diagram?graph_data_number=5_1<%= "&period_scale=#{@period_scale}" %>">使用分享功能的NAS總數量及NAS總數量</a></li>
            <li class="<%= @graph_data_number=="5_2" ? "active" : "" %>"><a href="/diagram?graph_data_number=5_2<%= "&period_scale=#{@period_scale}" %>">使用分享功能的NAS數量及分享人數</a></li>
            <li class="<%= @graph_data_number=="5_3" ? "active" : "" %>"><a href="/diagram?graph_data_number=5_3<%= "&period_scale=#{@period_scale}" %>">沒有NAS的被邀請者人數</a></li>
            <li class="<%= @graph_data_number=="5_4" ? "active" : "" %>"><a href="/diagram?graph_data_number=5_4<%= "&period_scale=#{@period_scale}" %>">NAS分享次數</a></li>
            <li class="<%= @graph_data_number=="5_5" ? "active" : "" %>"><a href="/diagram?graph_data_number=5_5<%= "&period_scale=#{@period_scale}" %>">NAS 分享資料夾使用人數-邀請成功</a></li>
          </ul>
        </div>
        <div class="col-md-10">
          <% if @axis_type == "date" || @axis_type == "individual_date" %>
          <ul class="nav nav-pills">
            <li class="<%= @period_scale==1 ? "active" : "" %>"><a href="<%= "#{@url_prefix}&period_scale=1" %>">日</a></li>
            <li class="<%= @period_scale==2 ? "active" : "" %>"><a href="<%= "#{@url_prefix}&period_scale=2" %>">週</a></li>
            <li class="<%= (@period_scale!=1 && @period_scale!=2) ? "active" : "" %>"><a href="<%= "#{@url_prefix}&period_scale=3" %>">月</a></li>
          </ul>
          <% end %>
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var chart = c3.generate({
    data: {
      x: "<%= raw @columns[0][0] %>",
      columns: <%= raw @columns %>,
      type: '<%= @graph_type %>',
      <% if @y2_axis_show == true %>
      axes: { // For second Y axis
        "<%= raw @y2_axis_label_name %>": 'y2'
      }
      <% end %>
    },
    zoom: {
        enabled: true
    },
    legend: {
      position: 'bottom'
      // position: 'right'
    },
    axis : {
      x: {
        label: {
          text: "<%= raw @columns[0][0] %>",
          position: 'outer-left'
        },
        type: 'category',
      },
      y: {
        label: {
          text: "<%= raw @y_axis_name %>",
          position: 'outer-middle'
        },
        tick: {
          format: d3.format("d")
        }
      },
      <% if @y2_axis_show == true %>
      y2: { // For second Y axis
        show: true,
        label: {
          text: "<%= raw @y2_axis_label_name %>",
          position: 'outer-middle'
        },
        tick: {
          format: d3.format("d")
        }
      }
      <% end %>
    }
  });
</script>