<div class="help_wrapper1">
    <div class="btn_wrap">
      <button id="expand" href="#" ><%= I18n.t("labels.expand_all")%></button>
      <button id="collapse" href="#" ><%= I18n.t("labels.collapse_all")%></button>
    </div>
    <ul id="tabs">

      <!-- Content -->

      <!-- Introduction -->
      <li>
        <h2><%= I18n.t("help.intro.title") %></h2>
        <article>
          <br>
          <p><%= I18n.t("help.intro.step_1") %>
            <br><br>
            <%= I18n.t("help.intro.step_2") %>
          </p>
        </article>
      </li>
      <!-- Introduction End -->

      <!-- Sign In -->
      <li>
        <h2><%= I18n.t("help.sign_in.title") %></h2>
        <article>
          <%= image_tag 'help/global/sign_in_1.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.sign_in.step_1") %>
          </p>
          <%= image_tag 'help/global/facebook-1.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.sign_in.step_2") %>
          </p>
          <%= image_tag 'help/global/google_plus.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.sign_in.step_3") %>
          </p>
          <%= image_tag 'help/global/sign_in_2.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.sign_in.step_4") %>
          </p>
        </article>
      </li>
      <!-- Sign In End -->

      <!-- Register -->
      <li>
        <h2><%= I18n.t("help.register.title") %></h2>
        <article>
          <br>
          <p>
            <%= I18n.t("help.register.step_1") %>
          </p>
          <%= image_tag 'help/global/register_1.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.register.step_2") %>
          </p>

          <p>
            <%= I18n.t("help.register.step_3") %>
          </p>
          <%= image_tag 'help/global/register_a.png', style: 'height:100%;width:auto;' %>
          <br><br>
          <p>
            <%= I18n.t("help.register.step_4") %>
          </p>
          <%= image_tag 'help/global/register_2.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.register.step_5") %>
          </p>
          <%= image_tag 'help/global/register_3.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.register.step_6") %>
          </p>
          <%= image_tag 'help/global/e-mail_confirmation-2.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.register.step_7") %>
          </p>
          <%= image_tag 'help/global/register_4.png' %>

        </article>
      </li>
      <!-- Register End -->

      <!-- Forget Password -->
      <li>
        <h2><%= I18n.t("help.forget_pwd.title") %></h2>
        <article>
          <br>
          <p>
            <%= I18n.t("help.forget_pwd.step_1") %>
          </p>
          <%= image_tag 'help/global/sign_in_1.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.forget_pwd.step_2") %>
          </p>
          <p>
            <%= I18n.t("help.forget_pwd.step_3") %>
          </p>
          <%= image_tag 'help/global/forget_1.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.forget_pwd.step_4") %>
          </p>
          <%= image_tag 'help/global/forgot_password-3.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.forget_pwd.step_5") %>
          </p>
          <%= image_tag 'help/global/forget_2.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.forget_pwd.step_6") %>
          </p>
          <%= image_tag 'help/global/forget_3.png' %>
        </article>
      </li>
      <!-- Forget Password End -->

      <!-- Profile -->
      <li>
        <h2><%= I18n.t("help.profile.title") %></h2>
        <article>
          <br>
          <p>
            <%= I18n.t("help.profile.step_1").html_safe %>
          </p>
          <%= image_tag 'help/global/profile_1.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.profile.step_2") %>
          </p>
          <%= image_tag 'help/global/profile_2.png' %>
          <br><br>
          <p>
            <%= I18n.t("help.profile.step_3") %>
          </p>
          <%= image_tag 'help/global/profile_3.png' %>
        </article>
      </li>
      <!-- Profile End -->

      <!-- Content End -->
    </ul>
</div>

<div class="spacer" style="height:30px;"></div>

<script>
  (function(){
    var $tab_items = $('#tabs h2');
    checkToggle();

    $('#expand').on('click', function(){
      $tab_items.addClass('active');
      checkToggle();
    });
    $('#collapse').on('click', function(){
      $tab_items.removeClass('active');
      checkToggle();
    });

    $tab_items.on('click', function(){
      var item = $(this);

      if(item.hasClass('active')){
        item.removeClass('active');
        checkToggle();
      }else{
        item.addClass('active');
        checkToggle();
      };
    });

    function checkToggle(){
      if( $('h2.active').length  == $tab_items.length ){
        $('#expand').addClass('disable');
      }else{
        $('#expand').removeClass('disable');
      };

      if($('h2.active').length == 0){
        $('#collapse').addClass('disable');
      }else{
        $('#collapse').removeClass('disable');
      };
    };

  })();
</script>
