<% provide(:flow, 'Help') %>
<div class="zyxel_content help">
    <div class="btn_wrap">
      <button id="expand" href="#" >Expand All</button>
      <button id="collapse" href="#" >Collapse All</button>
    </div>
    <ul id="tabs">
      <li>
        <h2>Introduction</h2>
        <article>
          <p>
            myZyXELcloud, your solution for remote application management and securely access to your ZyXEL network devices accessory from anywhere that has an internet connection!
            <br>
            myZyXELcloud provides 3 ways to sign in the cloud portal. You can login by using your existing social network account from “FACEBOOK” or “Google+” without entering addition user information. If you don’t have a social network account, you also can register by myZyXELcloud with your email.
          </p>
        </article>
      </li>
      <li>
        <h2>Sign in by social network</h2>
        <article>
          <%= image_tag 'help/login.png' %>
          <br>
          <p>
            Please accept myZyXELcloud request to retrieve your public profile and e-mail address from FACEBOOK.
          </p>
          <%= image_tag 'help/facebook-1.png' %>
          <p>
            Please accept myZyXELcloud request to retrieve your public profile and e-mail address from Google+.
          </p>
          <%= image_tag 'help/google_plus.png' %>
          <p>
            Please check and agree the ZyXEL cloud terms of use.
          </p>
          <%= image_tag 'help/facebook-2.png' %>
          <p>
            After signing in by using your social network account, you can edit your user profile on myZyXELcloud portal. If you want to change your account password, please use your existing social network account (FACEBOOK or Google+) to change your existing password.
          </p>
          <%= image_tag 'help/edit_profile_Social.png' %>
        </article>
      </li>
      <li>
        <h2>Register by myZyXELcloud portal</h2>
        <article>
          <p>Please fill in all required information in the sign up page</p>
          <%= image_tag 'help/sign_up.png' %>
          <p>myZyXELcloud will send a confirmation e-mail to your e-mail account.</p>
          <%= image_tag 'help/e-mail_confirmation.png' %>
          <p>Please check your email account’s inbox and click the link to confirm your account registration in the e-mail.</p>
          <%= image_tag 'help/e-mail_confirmation-2.png' %>
          <p>The page will redirect to confirmed page</p>
          <%= image_tag 'help/e-mail_confirmation-3.png' %>
        </article>
      </li>
      <li>
        <h2>Forgot my password</h2>
        <article>
          <p>
            If you’ve forgotten your password, please click on “forgot my password” link on the sign in page.
          </p>
          <%= image_tag 'help/login.png' %>
          <p>
            myZyXELcloud will send an e-mail to your registered e-mail account to reset your account password.
          </p>
          <p>
          P.S For social network account : If you want to change your account password, please use your existing social network account (FACEBOOK or Google+) to change your existing password.
          </p>
          <%= image_tag 'help/forgot_password-1.png' %>
          <p>
            Please click the link in the e-mail message to begin resetting your password.
          </p>
          <%= image_tag 'help/forgot_password-3.png' %>
          <p>
            Please input your new password and press submit button.
          </p>
          <%= image_tag 'help/forgot_password-4.png' %>
          <p>
            myZyXELcloud will sign in with your new reset password automatically.
          </p>
          <%= image_tag 'help/forgot_password-2.png' %>
        </article>
      </li>
      <li>
        <h2>Edit cloud user profile and change password</h2>
        <article>
          <p>
            Please press the user icon<i class="member_icon"></i>on the right hand side after you have signed in myZyXELcloud.
          </p>
          <%= image_tag 'help/edit_profile-0.png' %>
          <p>
            Input current password and new password for changing your account password.
          </p>
          <%= image_tag 'help/change_Password-2.png'%>
          <p>
            Edit cloud user profile
          </p>
          <%= image_tag 'help/edit_profile.png'%>
        </article>
      </li>
      <li>
        <h2>Device Pairing</h2>
        <article>
          <p>
            Please press search button to begin searching your device automatically. If it’s unable to find your device, please press on the “manually add” button to add your device manually.
          </p>
          <%= image_tag 'help/search_device-1.png' %>
          <p>
            myZyXELcloud requires you to input your MAC address and serial number information to manually add your device.
          </p>
          <%= image_tag 'help/manully_add.png' %>
          <p>
            Press “Submit” button to confirm and pair your device
          </p>
          <%= image_tag 'help/manully_add-1.png' %>
          <p>
            Within 10 minutes, press the pairing button on your device.
          </p>
          <%= image_tag 'help/manully_add-2.png' %>
          <p>
            Press “Confirm” button to setup DDNS and UPnP service
          </p>
          <%= image_tag 'help/manully_add-3.png' %>
        </article>
      </li>
      <li>
        <h2>DDNS setting</h2>
        <article>
          <p>
            Please input a desired host name for your DDNS with 3 to 63 characters. First character should be a letter.
          </p>
          <%= image_tag 'help/ddns_edit.png' %>
        </article>
      </li>
      <li>
        <h2>UPnP Setting</h2>
        <article>
          <p>
            Next, myZyXELcloud will synchronize UPnP settings
          </p>
          <%= image_tag 'help/my_device-1.png'%>
          <p>
            myZyXELcloud will lists all UPnP services that already installed on your device, please select which service(s) you would like to enable or disable.
          </p>
          <%= image_tag 'help/upnp-1.png'%>
          <p>
            myZyXELcloud will respond with the updated results of UPnP settings,(example: NAS540 HTTP web service default port is 8000, please enter the URL as http://yourname:8000, and ownCloud is http://yourname.zyxel.me:5000/pkg/ownCloud/, FTP is ftp://yourname.zyxel.me)
          </p>
          <%= image_tag 'help/upnp-2.png'%>
          <p>
            Congratulations, you can see paired device under “My Devices” now.
          </p>
          <%= image_tag 'help/my_device.png'%>
        </article>
      </li>
    </ul>

</div>

<script>
  (function(){
    var $tab_items = $('#tabs h2');
    checkToggle();

    $('#expand').on('click', function(){
      $tab_items.addClass('active');
      checkToggle();
    });
    $('#collapse').on('click', function(){
      $tab_items.removeClass('active');
      checkToggle();
    });

    $tab_items.on('click', function(){
      var item = $(this);

      if(item.hasClass('active')){
        item.removeClass('active');
        checkToggle();
      }else{
        item.addClass('active');
        checkToggle();
      };
    });

    function checkToggle(){
      if( $('h2.active').length  == $tab_items.length ){
        $('#expand').addClass('disable');
      }else{
        $('#expand').removeClass('disable');
      };

      if($('h2.active').length == 0){
        $('#collapse').addClass('disable');
      }else{
        $('#collapse').removeClass('disable');
      };
    };

  })();
</script>