<% provide(:flow, I18n.t("titles.resend_confirmation")) %>

<div class="zyxel_content">
  <%= link_to("Skip", :back) if current_user && current_user.confirmation_valid? %>
  <p><span class="zyxel_span3">You have applied your account successfully.</span></p>

  <p><span class="zyxel_span3">To finish the registration, please check your email <b><%= current_user.email %></b> and click the verification link.</span></p>

  <p><span class="zyxel_span3">Please verify email before <b><%= confirmation_expire_time_string %></b></span></p>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <table class="zyxel_table_style">
      <tr>
        <td><%= f.hidden_field :email, value: current_user.email, class: "input_style1 td_field" %></td>
      </tr>
    </table>
    <div class="zyxel_btn_area i18n_fix">
      <%= link_to "Change to another email", users_confirmation_edit_path %>

      <%= f.submit "Resend confirmation email", class: "zyxel_btn_submit" %>
    </div>
  <% end %>
</div>
