<% provide(:flow, I18n.t("titles.resend_confirmation")) %>
<div class="zyxel_content">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <table class="zyxel_table_style">
      <tr>
        <th><span>* </span><%= f.label :email, I18n.t("user.labels.email"), class: "th_label"%></th>
        <td><%= f.email_field :email, autofocus: true, class: "input_style1 td_field" %></td>
      </tr>
    </table>
    <div class="zyxel_btn_area i18n_fix">
      <a href="/" class="zyxel_btn_back"><%= I18n.t("labels.cancel") %></a>
      <%= f.submit I18n.t("labels.submit"), class: "zyxel_btn_submit" %>
    </div>
  <% end %>
</div>