<li>
  <h2>Device Pairing</h2>
  <article>
    <p>
      Please press search button to begin searching your device automatically. If it’s unable to find your device, please press on the “manually add” button to add your device manually.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      myZyXELcloud requires you to input your MAC address and serial number information to manually add your device.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Press “Submit” button to confirm and pair your device
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      Within 10 minutes, press the pairing button on your device.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Press “Confirm” button to setup DDNS and UPnP service
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>