<li>
  <h2>การจับคู่อุปกรณ์</h2>
  <article>
    <p>
      กรุณากดปุ่มค้นหาเพื่อเริ่มต้นการค้นหาอุปกรณ์ของคุณโดยอัตโนมัติ. ถ้าไม่สามารถหาอุปกรณ์ของคุณพบ กรุณากดที่ปุ่ม “manually add (เพิ่มด้วยตนเอง)” เพื่อเพิ่มอุปกรณ์ด้วยตัวคุณเอง
    </p>
    <%= image_tag 'help/th/search_device-1.png' %>
    <p>
      myZyXELcloud ต้องให้คุณป้อน MAC address และข้อมูลหมายเลขซีเรียลเพื่อเพิ่มอุปกรณ์ด้วยตนเอง
    </p>
    <%= image_tag 'help/th/manully_add.png' %>
    <p>
      กดปุ่ม “Submit (ส่ง)”เพื่อยืนยันและจับคู่อุปกรณ์ของคุณ
    </p>
    <%= image_tag 'help/th/manully_add-1.png' %>
    <p>
      ภายใน 10 นาทีกดปุ่ม ปุ่มpairing ( จับคู่) บนอุปกรณ์ของคุณ
    </p>
    <%= image_tag 'help/th/manully_add-2.png' %>
    <p>
      กดปุ่ม “Confirm(ยืนยัน)” เพื่อตั้งค่า DDNS และบริการ UPnP
    </p>
    <%= image_tag 'help/th/manully_add-3.png' %>
  </article>
</li>