<div class="zyxel_bread">
  <span><%= t('.title') %></span>
  <%= link_to I18n.t("labels.back_to_home"), authenticated_root_path, class: "zyxel_btn_main icon_home" %>
</div>

<div class="personal">
  <div class="zyxel_content" style="max-width: 600px;">

    <!-- <p class="h4"> -->
    <p class="h4" style="text-align: center; color: #838383;">
      <%= raw t('.prompt', client_name: "<strong class=\"text-info\">#{ @pre_auth.client.name }</strong>") %>
    </p>

    <% if @pre_auth.scopes.count > 0 %>
      <div id="oauth-permissions">
        <p><%= t('.able_to') %>:</p>

        <ul class="text-info">
          <% @pre_auth.scopes.each do |scope| %>
            <li><%= t scope, scope: [:doorkeeper, :scopes] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions" style="max-width: 300px; margin: 50px auto;">
      <div class="row zyxel_btn_row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= form_tag oauth_authorization_path, method: :post do %>
          <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
          <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
          <%= hidden_field_tag :state, @pre_auth.state %>
          <%= hidden_field_tag :response_type, @pre_auth.response_type %>
          <%= hidden_field_tag :scope, @pre_auth.scope %>
          <%= submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: "btn btn-default zyxel_btn_submit"%>
        <% end %>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <%= form_tag oauth_authorization_path, method: :delete do %>
            <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
            <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
            <%= hidden_field_tag :state, @pre_auth.state %>
            <%= hidden_field_tag :response_type, @pre_auth.response_type %>
            <%= hidden_field_tag :scope, @pre_auth.scope %>
            <%= submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "btn btn-default zyxel_btn_back"%>
          <% end %>
        </div>
      </div>
    </div>


  </div> <!-- content -->
</div> <!-- personal -->

<!-- <header class="page-header" role="banner">
  <h1><%#= t('.title') %></h1>
</header> -->

<!-- <main role="main">
  <p class="h4">
    <%#= raw t('.prompt', client_name: "<strong class=\"text-info\">#{ @pre_auth.client.name }</strong>") %>
  </p>

  <%# if @pre_auth.scopes.count > 0 %>
    <div id="oauth-permissions">
      <p><%#= t('.able_to') %>:</p>

      <ul class="text-info">
        <%# @pre_auth.scopes.each do |scope| %>
          <li><%#= t scope, scope: [:doorkeeper, :scopes] %></li>
        <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="actions">
    <%#= form_tag oauth_authorization_path, method: :post do %>
      <%#= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%#= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%#= hidden_field_tag :state, @pre_auth.state %>
      <%#= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%#= hidden_field_tag :scope, @pre_auth.scope %>
      <%#= submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: "btn btn-success btn-lg btn-block" %>
    <%# end %>
    <%#= form_tag oauth_authorization_path, method: :delete do %>
      <%#= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%#= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%#= hidden_field_tag :state, @pre_auth.state %>
      <%#= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%#= hidden_field_tag :scope, @pre_auth.scope %>
      <%#= submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "btn btn-danger btn-lg btn-block" %>
    <%# end %>
  </div>
</main> -->
