<%= render 'devise/shared/profile_breadcrumb' %>

<div class="zyxel_content" style="max-width: 530px;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name, type: params[:type]), html: { method: :put }) do |f| %>
    <%= f.hidden_field :email %>

    <%# If type is profile, it will display edit profile session %>
    <% if params[:type] == "profile" %>
      <%= render partial: "devise/registrations/edit_format/profile", locals: {f: f} %>
    <%# If type is password, it will display change password session %>
    <% elsif params[:type] == "password" %>
      <%= render partial: "devise/registrations/edit_format/password", locals: {f: f} %>
    <% end %>
    <%# Submit and cancel button %>
    <div class="zyxel_btn_area i18n_fix">
      <%= link_to I18n.t("labels.cancel"), "/personal/profile", class: "zyxel_btn_back" %>
      <%= f.submit I18n.t("labels.submit"), class: "zyxel_btn_submit" %>
    </div>
    <%# Submit and cancel button - end %>
  <% end %>
</div>
