<div class="zyxel_bread"><%= I18n.t("titles.sign_up") %></div>

<div class="zyxel_content">
  <%= form_for(resource, html: {role: "form"},as: resource_name, url: registration_path(resource_name)) do |f| %>
    <fieldset>
      <table class="zyxel_table_style">

        <%# e-Mail %>
        <tr>
          <th>
            <span>* </span>
            <%= f.label :email, I18n.t("user.labels.email"), class: "th_label" %>
          </th>
          <td colspan="3">
            <%= f.email_field :email, autofocus: true, class: "input_style1 td_field" %>
          </td>
        </tr>
        <%# e-Mail - end %>

        <%# Password %>
        <tr>
          <th>
            <span>* </span>
            <%= f.label :password, I18n.t("user.labels.password"), class: "th_label" %>
          </th>
          <td colspan="3">
            <%= f.password_field :password, autocomplete: "off", class: "input_style1 td_field" %>
          </td>
        </tr>
        <%# Password -end %>

        <tr>
          <th>
            <span>* </span>
            <%= f.label :password_confirmation, I18n.t("user.labels.password_confirmation"), class: "th_label" %>
          </th>
          <td colspan="3">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "input_style1 td_field" %>
          </td>
        </tr>

        <%# User name %>
        <tr>
          <th>
            <%= f.label :first_name, I18n.t("user.labels.first_name") %>
          </th>
          <td colspan="3">
            <%= f.text_field :first_name, class: "input_style1" %>
          </td>
        </tr>
        <tr>
          <th style="width:10%">
            <%= f.label :last_name, I18n.t("user.labels.last_name") %>
          </th>
          <td colspan="3">
            <%= f.text_field :last_name, class: "input_style1" %>
          </td>
        </tr>
        <%# User name - end %>

        <%# Gender %>
        <tr>
          <%# need-add-I18n %>
          <th>
            <%= f.label :gender %>
          </th>
          <td colspan="3">
            <label class="radio-inline">
              <%= f.radio_button :gender, "1"%>
              <%= label :gender, 'Male' %>
            </label>
            <label class="radio-inline">
              <%= f.radio_button :gender, "2"%>
              <%= label :gender, 'Female' %>
            </label>
          </td>
        </tr>
        <%# Gender - end %>

        <%# Birthday %>
        <tr>
          <%# need-add-I18n %>
          <th>
            <%= f.label :birthday %>
          </th>
          <td colspan="3" class="date_select">
            <%= f.date_select :birthday, {start_year: 1955, end_year: 2012, use_month_numbers: true, prompt: { day: 'Day', month: 'Month', year: 'Year' }}, class: "select_style" %>
          </td>
        </tr>
        <%# Birthday - end %>

        <%# Phone number %>
        <tr>
          <th>
            <%= f.label :mobile_number, I18n.t("user.labels.phone_number") %>
          </th>
          <td colspan="3">
            <%= f.text_field :mobile_number, class: "input_style1" %>
          </td>
        </tr>
        <%# Phone number - end %>

        <%# Language %>
        <tr>
          <th>
            <%= f.label :language, I18n.t("user.labels.language") %>
          </th>
          <td colspan="3">
            <%= f.select :language, @locale_options, {}, {class: "select_style"} %>
          </td>
        </tr>
        <%# Language - end %>

        <%# Country %>
        <tr>
          <th>
            <%= f.label :country, I18n.t("user.labels.country") %>
          </th>
          <td colspan="3">
            <%= f.country_select :country, {'' => ''}, {}, {class: "select_style"} %>
          </td>
        </tr>
        <%# Country - end %>

        <%# Recaptcha %>
        <tr>
          <%# need-add-I18n %>
          <th><span>* </span>驗證碼</th>
          <td colspan="3">
            <%= recaptcha_tags ajax: true %>
            <% if flash[:alert] %>
              <div class="error">
                <div class="zyxel_arlert_area">
                  <label class="error_message"><%= flash[:alert] %></label>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
        <%# Recaptcha - end %>

      </table>
    </fieldset>

    <%# Terms accept %>
    <div class="checkbox">
      <%# need-add-I18n %>
      <label for="user_agreement" class="checkbox_label">I agree to the <a href="#">Terms</a> of ZyXEL <span> *</span></label>
      <%= f.check_box :agreement, class: "th_label" %>
    </div>
    <%# Terms accept - end %>

    <%# e-Mail DM %>
    <div class="checkbox">
      <%# need-add-I18n %>
      <%= f.check_box :edm_accept %>
      <%= label :edm_accept, 'I accept edm', for: "user_edm_accept", class: "checkbox_label" %>
    </div>
    <%# e-Mail DM - end %>

    <%# Submit and cancel button %>
    <div class="zyxel_btn_area">
      <%# need-add-I18n %>
      <a href="<%= new_session_path(resource_name) %>" class="zyxel_btn_back">Cancel</a>
      <%= f.submit I18n.t("labels.sign_up"), class: "zyxel_btn_submit" %>
    </div>
    <%# Submit and cancel button - end %>
  <% end %>
</div>