<% provide(:flow, @device.product.model_class_name + "," + I18n.t("titles.settings.upnp")) %>
<% provide(:tab, 'my_devices') %>

<div class="upnp zyxel_content" style="max-width:700px;" ng-app="upnp_app"  ng-controller="UpnpCtrl" ng-init="session=<%= @session.to_json() %>;loadConfig();">

  <%# Pairing information %>
  <div  ng-switch on="step">
    <div class="waiting" ng-switch-when="updating">
      <span class="zyxel_span2"><%= I18n.t("warnings.settings.upnp.sync") %></span>
    </div>
    <div ng-switch-when="form">
      <div ng-switch on="result">
        <h2 ng-switch-when="true" class="zyxel_h2_icon1">
          <%= image_tag @device.product.asset.url(:medium) %>
          <span>{{wording}}</span>
        </h2>
      </div>
      <table ng-table class="zyxel_table_style5">
        <tr>
          <th><%= I18n.t("labels.settings.upnp.table_head1") %></th>
          <th><%= I18n.t("labels.settings.upnp.table_head2") %></th>
          <th><%= I18n.t("labels.settings.upnp.table_head3") %></th>
          <th><%= I18n.t("labels.settings.upnp.table_head4") %></th>
          <th ng-if="!submited">
            <button class="zyxel_btn_style2" ng-show="!servicePort.show" ng-click="showServicePort()"><%= I18n.t("labels.settings.upnp.table_head6") %></button>
            <button class="zyxel_btn_style2" ng-show="servicePort.show" ng-click="hideServicePort()"><%= I18n.t("labels.settings.upnp.table_head7") %></button>
          </th>
          <th ng-if="submited"><%= I18n.t("labels.settings.upnp.table_head8") %></th>
          <%# display update result after submited %>
          <th ng-if="submited">
            <%= I18n.t("labels.settings.upnp.table_head5") %>
          </th>
        </tr>
        <tr ng-repeat="service in service_list" ng-controller="ServiceCtrl" ng-init="recordOriginSettings();">
          <td data-title="'enabled'" class="column1">
            <div ng-switch on="result">
              <input id="check{{$index}}" type="checkbox" ng-model="service.enabled" ng-disabled="panel != 'form'" >
              <div ng-switch-when="true">
                <label><span></span></label>
              </div>
              <div ng-switch-when="false">
                <label for="check{{$index}}"><span></span></label>
              </div>
            </div>
          </td>
          <td data-title="'status'" ng-switch on="service.status" class="column2">
            <span ng-switch-when="true" class="">OK</span>
            <span ng-switch-when="false" class="">---</span>
          </td>
          <td data-title="'Name'">
            <%# add service link %>
            <a ng-if="!isFieldEmpty(service.path)" href="{{bind_url(service, service.path, service.port)}}" target="_blank" class="upnp service_list_name">
              {{service.service_name}}
            </a>
            <span ng-if="isFieldEmpty(service.path)">
              {{service.service_name}}
            </span>
          </td>
          <td data-title="'description'" class="column3">
            {{service.description}}
          </td>
          <td data-title="'service_port'" class="column3">
            <input ng-model="service.wan_port" ng-show="(servicePort.show || submited) && result != 'true' " type="text" class="text-center" maxlength="5" size="7"/>
            <span ng-show="result == 'true'">{{service.wan_port}}</span>
          </td>
          <td data-title="'error_code'" class="update_result" ng-if="submited">
            <span ng-switch on="service.update_result">
              <span ng-switch-when="no_update"><%= I18n.t("labels.settings.upnp.result.no_update") %></span>
              <span ng-switch-when="success" class="green"><%= I18n.t("labels.settings.upnp.result.success") %></span>
              <span ng-switch-when="failure" class="red"><%= I18n.t("labels.settings.upnp.result.failure") %></span>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="waiting" ng-switch-when="failure">
      <span class="zyxel_span4">{{error_msg}}</span>
    </div>
    <div class="waiting" ng-switch-when="confirm_cancel">
      <span class="zyxel_span4"><%= I18n.t("warnings.settings.upnp.cancel_instruction") %></span>
    </div>
  </div>
  <%# Pairing information - end %>

  <%# Bottom content include loading image and retry button %>
  <div class="pairing-panel" ng-switch on="panel">
    <div ng-switch-when="loading">
      <div class="waiting"><%= image_tag 'loading.gif', size: "54x55" %></div>
      <div class="zyxel_btn_area i18n_fix" ng-if="!submited">
        <button class="zyxel_btn_back" ng-click="cancel()"><%= I18n.t("labels.cancel") %></button>
      </div>
    </div>
    <div ng-switch-when="retry" class="zyxel_btn_area i18n_fix">
      <%= link_to(I18n.t("labels.cancel"), "/personal/index", class: "zyxel_btn_back") %>
      <button class="zyxel_btn_submit" ng-click="retry()"><%= I18n.t("labels.retry") %></button>
    </div>
    <div ng-switch-when="form" class="zyxel_btn_area i18n_fix">
      <%= link_to(I18n.t("labels.cancel"), "/personal/index", class: "zyxel_btn_back") %>
      <button class="zyxel_btn_submit" ng-click="submit()"><%= I18n.t("labels.submit") %></button>
    </div>
    <div ng-switch-when="confirm" class="zyxel_btn_area i18n_fix">
      <%= link_to(I18n.t("labels.confirm"), tutorial_path(@device, Upnp::MODULE_NAME), class: "zyxel_btn_ok") %>
    </div>
    <div ng-switch-when="confirm_cancel" class="zyxel_btn_area  i18n_fix">
      <button class="zyxel_btn_back" ng-click="continue()"><%= I18n.t("labels.cancel") %></button>
      <%= link_to(I18n.t("labels.confirm"), "/upnp/cancel/#{@upnp.id}", class: "zyxel_btn_ok zyxel_enabled") %>
    </div>
  </div>
  <%# Bottom content include loading image and retry button - end %>
</div>

<script type="text/javascript">
  var upnp_app = angular.module('upnp_app', ['timer']);
  upnp_app.config([
    '$httpProvider',
    function($httpProvider) {
        $httpProvider.defaults.headers
          .common["X-CSRF-TOKEN"] = $("meta[name=\"csrf-token\"]").attr("content");
    }
  ]);

  upnp_app.controller('ServiceCtrl', function ($scope, $http, $timeout) {

    $scope.origin_wan_port;


    $scope.recordOriginSettings = function(){
      angular.forEach($scope.service_list, function(service, index){
        service.origin_wan_port = service.wan_port;
      });
    }
  });

  upnp_app.controller('UpnpCtrl', function ($scope, $http, $timeout) {

    $scope.session;
    $scope.indexPath = '/upnp/';
    $scope.checkPath = '/upnp/check/';
    $scope.reloadPath = '/upnp/reload/';
    $scope.step = "updating";
    $scope.panel = "loading";
    $scope.result = "false"
    $scope.loadTimes = 0;
    $scope.checkTimes = 0;
    $scope.timesLimit = 85;
    $scope.interval = 3500;
    $scope.pathIp;
    $scope.wording;
    $scope.get_list = false;
    $scope.submited = false;
    $scope.showPort = false;
    $scope.service_url = "";
    $scope.error_msg = "";
    $scope.servicePort = {
      show: false
    }
    $scope.updated_list = [];
    $scope.used_wan_port_list = [];
    $scope.service_list = [];
    $scope.randomed_num_list = [];

    $scope.init = function(){
      $scope.step = "updating";
      $scope.panel = "loading";
      $scope.disableBtn();
      $scope.wording = '';
      $scope.loadConfig();
    };

    $scope.loadConfig = function(){
      $scope.hideServicePort();
      $timeout(function() {
        $scope.loadTimes++;
        $http.get($scope.indexPath + $scope.session.id + "/edit", { cache: false }).success(function(response) {
          switch(response.status){
            case 'form':
              console.log('-------------- edit result start --------------------------');
              console.log('whole response as below: ');
              console.log(response);
              $scope.used_wan_port_list = response.used_wan_port_list;
              $scope.service_list = response.service_list;
              angular.forEach($scope.service_list, function(service, index){
                if( $scope.checkRandomPortNeeded(service) ){
                  service.wan_port = $scope.randomPort();
                }
              });
              console.log('used_wan_port_list: ' + $scope.used_wan_port_list);
              console.log('service_list as below: ');
              console.log($scope.service_list);
              console.log('-------------- edit result end --------------------------');
              $scope.pathIp = response.path_ip;
              $scope.get_list = response;
              if($scope.step != "confirm_cancel") {
                $scope.formPanel(response);
              }
              return;
            case 'failure':
            case 'timeout':
              $scope.get_failure(response);
              return;
          }

          if($scope.loadTimes < $scope.timesLimit){
            $scope.loadConfig();
            return;
          }

          $scope.get_failure(response);
        });
      }, $scope.interval);

      $scope.disableBtn();
    };

    $scope.get_failure = function(response) {
      $scope.error_msg = response.error_message;
      $scope.loadTimes = 0;
      $scope.step = "failure";
      $scope.panel = "retry";
      $scope.enableBtn();
    };

    $scope.submit = function(){
      $http.put($scope.indexPath + $scope.session.id, $scope.session, { cache: false }).success(function(response){
        if(response.result){
          $scope.checkSubmit();
        }
      });

      $scope.submited = true;
      $scope.step = "updating"
      $scope.panel = "loading";
      $scope.disableBtn();
    };
    $scope.retry = function(){
      location.reload();
    };

    $scope.cancel = function() {
      $scope.step = "confirm_cancel";
      $scope.panel = "confirm_cancel";
    };

    $scope.continue = function() {
      if($scope.get_list.status == "form") {
        $scope.formPanel($scope.get_list);
      } else {
        $scope.step = "updating";
        $scope.panel = "loading";
      }
      $scope.get_list = false;
    }

    $scope.bind_url = function(service, path, port){
      $scope.service_url = path.replace(/(\/\/+)[^:]*(:)[^\/]*(\/?.*)/, '$1' + $scope.pathIp + '$2' + port + '$3');
      return $scope.service_url;
    };

    $scope.checkSubmit = function(){
      $timeout(function() {
        $http.get($scope.checkPath + $scope.session.id, { cache: false }).success(function(response){
          $scope.checkTimes++;
          switch(response.status){
            case 'updated':
              $scope.updated_list = response.service_list;
              $scope.successPanel(response);
              $scope.displayUpdateResult();
              return;
            case 'reload':
              // 暫存 updated_list
              $scope.updated_list = response.service_list;
              console.log('-------------- checkSubmit result start --------------------------');
              console.log('updated_list as below:');
              console.log($scope.updated_list);
              console.log('--------------- checkSubmit result end -------------------------');
              $scope.reloadService();
              return;
            case 'timeout': // if device is offline, status will be set to timeout by portal
              $scope.get_failure(response);
              return;
          }
          if($scope.checkTimes < $scope.timesLimit){
            $scope.checkSubmit();
          }else{
            $scope.checkTimes = 0;
            $scope.step = "failure";
            $scope.panel = "retry";
            $scope.enableBtn();
          }
        });
      }, $scope.interval);

      $scope.disableBtn();
    };

    $scope.reloadService = function(){
      $timeout(function() {
        $scope.loadTimes++;
        $http.get($scope.reloadPath + $scope.session.id, { cache: false }).success(function(response) {
          switch(response.status){
            case 'start':
              if($scope.checkTimes < $scope.timesLimit){
                $scope.reloadService();
              }else{
                $scope.checkTimes = 0;
                $scope.step = "failure";
                $scope.panel = "retry";
                $scope.enableBtn();
              }
              return;
            case 'form':
              $scope.service_list = response.service_list;

              console.log('-------------- reload result start --------------------------');
              console.log('service_list as below:');
              console.log($scope.service_list);
              console.log('=============================================================');
              console.log('updated_list as below:');
              console.log($scope.updated_list);

              $scope.formPanel(response);
              $scope.displayUpdateResult();

              console.log('-------------- reload result end --------------------------');
              return;
            case 'failure':
            case 'timeout':
              return;
          } // switch(response.status){....}
        });
      }, $scope.interval);
    }

    $scope.checkRandomPortNeeded = function(service){
      return (service['wan_port'] == '-1') ||
        ( service['enabled'] &&
          (typeof service['origin_wan_port'] != 'undefined') &&
          (service['origin_wan_port'] != '') &&
          (service['origin_wan_port'] != service['wan_port'])
        )
    }

    $scope.randomPort = function(){
      var rand_num = Math.floor((Math.random() * 65535) + 1025);
      if($scope.used_wan_port_list.indexOf(rand_num) > -1 || $scope.randomed_num_list.indexOf(rand_num) > -1){
        rand_num = $scope.randomPort();
      }
      $scope.randomed_num_list.push(rand_num);
      return rand_num;
    }

    $scope.disableBtn = function(){
      var allButton = document.querySelectorAll("a:not(.zyxel_enabled)");
      for(var i=0; i<allButton.length; i++){
        var $thisBtn = allButton[i];
        var $thisUrl = $thisBtn.getAttribute('href');
        if ($thisUrl != "#"){
          $thisBtn.setAttribute('data-href', $thisUrl);
          $thisBtn.setAttribute('href', '#');
        };
      };
    };
    $scope.formPanel = function(response){
      $scope.step = response.status;
      $scope.panel = response.status;
      $scope.enableBtn();
      $scope.session = response;
      $scope.service_list = response.service_list;
    }
    $scope.successPanel = function(response){
      $scope.step = "form";
      $scope.panel = 'confirm';
      $scope.enableBtn();
      $scope.result = "true";
      $scope.service_list = response.service_list;
      $scope.wording = '<%= I18n.t("warnings.settings.upnp.success") %>';
    }

    $scope.displayUpdateResult = function(){
      angular.forEach($scope.updated_list, function(updated_settings, index){
        angular.forEach($scope.service_list, function(service, index){
          if(updated_settings['service_name'] == service['service_name']){
            service['update_result'] = updated_settings['update_result'];
            if(updated_settings['update_result'] == 'success'){
              // 如果 update 成功，應該把 update_list 當中所改到的設定顯示在畫面上，
              // 如果 update_list 的 enabled 是 true，則 status 應該也要顯示 true，
              // 如果 update_list 的 enabled 是 false，則 status 應該也要顯示 false，
              // wan_port 欄位應顯示 udpate_list 中的 wan_port。
              service['wan_port'] = updated_settings['wan_port'];
              service['status'] = updated_settings['enabled'];
              service['enabled'] = updated_settings['enabled'];
              console.log('update success -> service_name:'+service['service_name']+', status: '+service['status']+', enabled: '+service['enabled']);
            }else if(updated_settings['update_result'] == 'failure'){
              // 如果 update 失敗，應該看有改到哪些設定，並且將修改前的值顯示在畫面上，
              // 判斷使用者是修改 port 還是 status，
              // 若是修改 port 則應 random port，
              // 若是修改 status，則畫面上應顯示修改前的status。
              if(updated_settings['is_service_port_modified'] == true){
                service['wan_port'] = $scope.randomPort();
              }
              if(updated_settings['is_service_status_modified'] == true){
                service['status'] = updated_settings['status'];
                service['enabled'] = updated_settings['status'];
              }
              console.log('update failed -> service_name:'+service['service_name']+', status: '+service['status']+', enabled: '+service['enabled']);
            }
          }
          $scope.service_list[index] = service;
        });
      });
    }

    $scope.isFieldEmpty = function(name){
      return (typeof(name) == 'undefined' || name == null || name.length == 0)
    }

    $scope.enableBtn = function(){
      var allButton = document.querySelectorAll("a[data-href]:not(.zyxel_enabled)");
      for(var i=0; i<allButton.length; i++){
        var $thisBtn = allButton[i];
        var $dataUrl = $thisBtn.getAttribute('data-href');
        $thisBtn.setAttribute('href', $dataUrl);
      };
    };

    $scope.showServicePort = function(){
      $scope.servicePort.show = true;
    }

    $scope.hideServicePort = function(){
      $scope.servicePort.show = false;
    }

  });
</script>
<!-- % end % -->
