<% provide(:flow, @device.model_name + "," + I18n.t("titles.settings.upnp")) %>
<% provide(:tab, 'my_devices') %>

<div class="upnp zyxel_content" style="max-width:570px;" ng-app="upnp_app"  ng-controller="UpnpCtrl" ng-init="session=<%= @session.to_json(:only => [:id, :user_id, :device_id, :service_list]) %>;loadConfig();">

  <%# Pairing information %>
  <div  ng-switch on="step">
    <div class="waiting" ng-switch-when="updating">
      <span class="zyxel_span2"><%= I18n.t("warnings.settings.upnp.sync") %></span>
    </div>
    <div ng-switch-when="form">
      <div ng-switch on="result">
        <h2 ng-switch-when="true" class="zyxel_h2_icon1">
          <%= image_tag @session.device.product.asset.url, width: "100" %>
          <span>{{wording}}</span>
        </h2>
      </div>
      <table ng-table class="zyxel_table_style5">
        <tr>
          <th><%= I18n.t("labels.settings.upnp.table_head1") %></th>
          <th><%= I18n.t("labels.settings.upnp.table_head2") %></th>
          <th><%= I18n.t("labels.settings.upnp.table_head3") %></th>
          <th><%= I18n.t("labels.settings.upnp.table_head4") %></th>
          <%# display update result after submited %>
          <th ng-if="submited">
            <%= I18n.t("labels.settings.upnp.table_head5") %>
          </th>
        </tr>
        <tr ng-repeat="service in session.service_list">
          <td data-title="'enabled'" class="column1">
            <div ng-switch on="result">
              <input id="check{{$index}}" type="checkbox" ng-model="service.enabled" ng-disabled="panel != 'form'" >
              <div ng-switch-when="true">
                <label><span></span></label>
              </div>
              <div ng-switch-when="false">
                <label for="check{{$index}}"><span></span></label>
              </div>
            </div>
          </td>
          <td data-title="'status'" ng-switch on="service.status" class="column2">
            <span ng-switch-when="true" class="">OK</span>
            <span ng-switch-when="false" class="">---</span>
          </td>
          <td data-title="'Name'">
            <%# add service link %>
            <a ng-if="service.path.length > 0" href="{{bind_url(service, service.path, service.port)}}">
              {{service.service_name}}
            </a>
            <span ng-if="service.path.length == 0">
              {{service.service_name}}
            </span>
          </td>
          <td data-title="'description'" class="column3">
            {{service.description}}
          </td>
          <%# display update result after submited %>
          <td data-title="'error_code'" ng-if="submited">
            <span ng-if="service.error_code.length == 0">
              <%= I18n.t("labels.settings.upnp.result.success") %>
            </span>
            <span ng-if="service.error_code.length != 0">
              <%= I18n.t("labels.settings.upnp.result.failure") %>
            </span>
          </td>
          <%# display update result - end %>
        </tr>
      </table>
    </div>
    <div class="waiting" ng-switch-when="failure">
      <span class="zyxel_span4"><%= I18n.t("warnings.settings.upnp.not_found") %></span>
    </div>
  </div>
  <%# Pairing information - end %>

  <%# Bottom content include loading image and retry button %>
  <div class="pairing-panel" ng-switch on="panel">
    <div ng-switch-when="loading">
      <div class="waiting"><%= image_tag 'loading.gif', size: "54x55" %></div>
    </div>
    <div ng-switch-when="retry" class="zyxel_btn_area">
      <%= link_to(I18n.t("labels.cancel"), "/personal/index", class: "zyxel_btn_back") %>
      <button class="zyxel_btn_submit" ng-click="retry()"><%= I18n.t("labels.retry") %></button>
    </div>
    <div ng-switch-when="form" class="zyxel_btn_area">
      <%= link_to(I18n.t("labels.cancel"), "/personal/index", class: "zyxel_btn_back") %>
      <button class="zyxel_btn_submit" ng-click="submit()"><%= I18n.t("labels.submit") %></button>
    </div>
    <div ng-switch-when="confirm" class="zyxel_btn_area">
      <%= link_to(I18n.t("labels.confirm"), "/personal/index", class: "zyxel_btn_ok") %>
    </div>
  </div>
  <%# Bottom content include loading image and retry button - end %>
</div>

<%= javascript_tag do %>
  var upnp_app = angular.module('upnp_app', ['timer']);
  upnp_app.config([
    '$httpProvider',
    function($httpProvider) {
        $httpProvider.defaults.headers
          .common["X-CSRF-TOKEN"] = $("meta[name=\"csrf-token\"]").attr("content");
      }
    ]);
  upnp_app.controller('UpnpCtrl', function ($scope, $http, $timeout) {
    $scope.session;
    // $scope.service_list = [{"service_name":"null","status":false,"enabled":false,"description":"null"}];
    $scope.indexPath = '/upnp/';
    $scope.checkPath = '/upnp/check/';
    $scope.step = "updating";
    $scope.panel = "loading";
    $scope.result = "false"
    $scope.loadTimes = 0;
    $scope.checkTimes = 0;
    $scope.timesLimit = 85;
    $scope.interval = 3500;
    $scope.wording;
    $scope.submited = false;
    $scope.device_ip = '<%= @device_ip %>'
    $scope.service_url = "";
    $scope.init = function(){
      console.log("init");

      $scope.step = "updating";
      $scope.panel = "loading";
      $scope.wording = '';

      $http.get($scope.indexPath + $scope.session.device_id + ".json", { cache: false}).success(function(response){
        $scope.session = response;
        $scope.loadConfig();
      });
    };
    $scope.loadConfig = function(){

      console.log($scope.session.id);
      $timeout(function() {
            $scope.loadTimes++;
            $http.get($scope.indexPath + $scope.session.id + "/edit", { cache: false}).success(function(response) {

              console.log(response);
              console.log("tick: " + $scope.loadTimes);
              if('form' == response.status){
                $scope.step = response.status;
                $scope.panel = response.status;
                $scope.session = response;
                $scope.service_list = response.service_list;
                return;
              }

              if($scope.loadTimes < $scope.timesLimit){
                $scope.loadConfig();
              }else{
                $scope.loadTimes = 0;
                $scope.step = "failure";
                $scope.panel = "retry";
              }
            });
        }, $scope.interval);

    };

    $scope.submit = function(){

      console.log($scope.session.service_list);
      console.log("loop:");

        $http.put($scope.indexPath + $scope.session.id, $scope.session, { cache: false}).success(function(response){
          if(response.result){
            console.log("ok");
            $scope.checkSubmit();
          }else{
            console.log("failure");
          }
        });

        $scope.step = "updating"
        $scope.panel = "loading";
    };
    $scope.retry = function(){
      $scope.init();
    };
    $scope.bind_url = function(service,path, port){
      $scope.service_url = path.replace(/(\/\/).*(:).*/, '$1'+$scope.device_ip+'$2'+port);
      return $scope.service_url;
    };
    $scope.checkSubmit = function(){
      $scope.submited = true;
      $timeout(function() {
        $http.get($scope.checkPath + $scope.session.id, { cache: false}).success(function(response){
          console.log(response);
          $scope.checkTimes++;
          if('updated' == response.status){
            $scope.step = "form";
            $scope.panel = 'confirm';
            $scope.result = "true";
            $scope.wording = '<%= I18n.t("warnings.settings.upnp.success") %>';
            return;
          }else if('form' == response.status){
            $scope.step = response.status;
            $scope.panel = response.status;
            $scope.session = response;
            $scope.service_list = response.service_list;
            return;
          }

          if($scope.checkTimes < $scope.timesLimit){
            $scope.checkSubmit();
          }else{
            $scope.checkTimes = 0;
            $scope.step = "failure";
            $scope.panel = "retry";
          }
        });
      }, $scope.interval);
    };
  });
<% end %>