<li>
  <h2>ลืมรหัสผ่านของฉัน</h2>
  <article>
    <p>
      หากคุณลืมรหัสผ่านของคุณกรุณาคลิกที่ “forgot my password(ลืมรหัสผ่านของฉัน)” ที่ลิงค์อยู่ที่หน้าลงชื่อเข้าใช้งาน
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud จะส่งอีเมล์ไปยังบัญชีอีเมลที่ลงทะเบียนไว้เพื่อรีเซ็ตรหัสผ่านบัญชีของคุณ
    </p>
    <p>
หมายเหตุ สำหรับบัญชีโซเชียลมีเดีย ถ้าคุณต้องการที่จะเปลี่ยนรหัสผ่านของบัญชีของคุณ โปรดใช้บัญชีผู้ใช้เครือข่ายโซเชียลมีเดียที่มีอยู่ (Facebook หรือ Google +) เพื่อเปลี่ยนรหัสผ่านของคุณที่มีอยู่    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      กรุณาคลิกที่ลิงก์ในข้อความอีเมลที่จะเริ่มต้นการรีเซ็ตรหัสผ่านของคุณ
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      กรุณาใส่รหัสผ่านใหม่ของคุณและกดปุ่มsubmit(ส่ง)
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud จะลงชื่อเข้าใช้ด้วยรีเซ็ตรหัสผ่านใหม่ของคุณโดยอัตโนมัติ
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>