<li>
  <h2>Forgot my password</h2>
  <article>
    <p>
      If you’ve forgotten your password, please click on “forgot my password” link on the sign in page.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud will send an e-mail to your registered e-mail account to reset your account password.
    </p>
    <p>
    P.S For social network account : If you want to change your account password, please use your existing social network account (FACEBOOK or Google+) to change your existing password.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Please click the link in the e-mail message to begin resetting your password.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Please input your new password and press submit button.
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud will sign in with your new reset password automatically.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>