<div class="discoverer" ng-app="pairing_app"  ng-controller="PairingCtrl" ng-init="sessionId=<%= @session.id.to_s %>;deviceId=<%= @device.id.to_s %>;session=<%= @session.to_json(:except => [ :id, :created_at, :expire_at ], :methods => :expire_in) %>;waitingForCheckConnect();">

  <div class="zyxel_content">
    <%= render "discoverer/shared/device_info" %>

    <%# Pairing information content %>
    <span class="zyxel_span2" ng-switch on="step">
      <span ng-switch-when="connecting"><%= I18n.t("warnings.settings.pairing.connecting") %></span>
      <span ng-switch-when="waiting"><%= I18n.t("warnings.settings.pairing.start.instruction") %> <%= I18n.t("warnings.settings.pairing.start.instruction_2") %><timer id="countdown-timer" countdown="session.expire_in" max-time-unit="'minute'" autostart="false" interval="1000" class="countdown_number" >{{mminutes}} : {{sseconds}} </timer></span>
      <span ng-switch-when="disconnection"><%= I18n.t("warnings.settings.pairing.not_found") %></span>
      <span ng-switch-when="failure"><%= I18n.t("warnings.settings.pairing.failure") %></span>
      <span ng-switch-when="canceled"><%= I18n.t("warnings.settings.pairing.canceled") %></span>
      <span ng-switch-when="done"><%= I18n.t("warnings.settings.pairing.success") %></span>
    </span>
    <%# end - Pairing information content %>

    <%# Pairing bottom content include confirm button, loading image, and retry button %>
    <div class="bottom-content" ng-switch on="panel">
        <div class="countdown" ng-switch-when="loading">
          <%= image_tag 'loading.gif' %>
        </div>
        <div class="countdown" ng-switch-when="waiting">
            <%= image_tag @device.product.pairing.url %>
        </div>
        <div  ng-switch-when="retry" class="zyxel_btn_area i18n_fix">
          <%= link_to(I18n.t("labels.cancel"), "/discoverer/index", class: "zyxel_btn_back") %>
          <button class="zyxel_btn_submit" ng-click="reconnect()"><%= I18n.t("labels.retry") %></button>
        </div>
        <div  ng-switch-when="done" class="zyxel_btn_area">
          <% session[:first_pairing] = true %>
          <%= link_to(I18n.t("labels.confirm"), "/ddns/setting/" + @device.id.to_s, class: "zyxel_btn_ok") %>
        </div>
    </div>
    <%# end - Pairing bottom content %>
  </div>
</div>

