<h1>Find devices</h1>
<div class="pairing">

  <%# Top content - result text and re-find button %>
  <div class="top-content row">
    <div class="result_text col-xs-7 col-sm-7">
  	  搜尋結果
    </div>
    <div class="col-xs-5 col-xs-5">
      <button class="btn btn-deafult">重新搜尋</button>
    </div>
  </div>
  <ul class="devices_list" class="list-unstyled">
    <% @device_session_list.each { |device_session| %>
      <li class="device">
        <div class="device_img">
          <%= image_tag 'tmp.jpg', size: "60" %> 
        </div>
        <div class="device_name"><%= device_session.device.product.name %></div>

        <% if request.fullpath =~ /pairing\/index/ %>
          <div class="device_btn">
            <%= link_to('裝置配對', pairing_check_path(device_session), :class => "btn btn-default") %>
          </div>
        <% end %>

      </li>
    <% } %>
  </ul>
  <%# Top content end %>
  <%# device list is render from pairing/shard folder %>
	<%# render 'pairing/shared/device_list' %>
	<%# device list end %>

	<%# bottom content - Manually Add button %>
	<div class="bottom-content">
		<%= link_to('手動加入裝置', pairing_add_path(), class: "btn-primary") %>
	</div>
	<%# bottom content %>

</div>
<script type="text/javascript">
  var data = <%= @data.html_safe %>;
</script>