<div class="discoverer" ng-app="pairing_app"  ng-controller="PairingCtrl" ng-init="deviceId='<%= @device.encoded_id %>';session=<%= @pairing_session.to_json() %>;init();">

  <div class="zyxel_content">
    <%= render "discoverer/shared/device_info" %>

    <%# Pairing information content %>
    <span class="zyxel_span2" ng-switch on="step">
      <span ng-switch-when="connecting"><%= I18n.t("warnings.settings.pairing.connecting") %></span>
      <span ng-switch-when="waiting"><%= I18n.t("warnings.settings.pairing.start.instruction") %> <%= I18n.t("warnings.settings.pairing.start.instruction_2") %><br><timer id="countdown-timer" countdown="expireIn" max-time-unit="'minute'" autostart="false" interval="1000" class="countdown_number" >{{mminutes}} : {{sseconds}} </timer></span>
      <span ng-switch-when="disconnection"><%= I18n.t("warnings.settings.pairing.not_found") %></span>
      <span ng-switch-when="failure"><%= I18n.t("warnings.settings.pairing.failure") %></span>
      <span ng-switch-when="canceled"><%= I18n.t("warnings.settings.pairing.canceled") %></span>
      <span ng-switch-when="done"><%= I18n.t("warnings.settings.pairing.success") %></span>
      <span ng-switch-when="confirm_cancel"><%= I18n.t("warnings.settings.pairing.cancel_instruction") %></span>
    </span>
    <%# end - Pairing information content %>

    <%# Pairing bottom content include confirm button, loading image, and retry button %>
    <div class="bottom-content" ng-switch on="panel">
        <div class="countdown" ng-switch-when="loading">
          <%= image_tag 'loading.gif' %>
          <div class="zyxel_btn_area i18n_fix">
            <button id="pairing_waiting_loading_cancel_button" class="zyxel_btn_back" ng-click="cancel()"><%= I18n.t("labels.cancel") %></button>
          </div>
        </div>
        <div class="countdown" ng-switch-when="waiting">
            <%= image_tag @device.product.pairing.url %>
            <div class="zyxel_btn_area i18n_fix">
              <button id="pairing_waiting_waiting_cancel_button" class="zyxel_btn_back" ng-click="cancel()"><%= I18n.t("labels.cancel") %></button>
            </div>
        </div>
        <div  ng-switch-when="retry" class="zyxel_btn_area i18n_fix">
          <%= link_to(I18n.t("labels.cancel"), "/discoverer/index", class: "zyxel_btn_back") %>
          <!-- button class="zyxel_btn_submit" ng-click="reconnect()"><%#= I18n.t("labels.retry") %></button -->
          <%= link_to(I18n.t("labels.retry"), "/pairing/index/#{@device.encoded_id}", class: "zyxel_btn_ok zyxel_enabled") %>
        </div>
        <div ng-switch-when="done" class="app_store">
          <%= render 'app_store' %>
        </div>
        <div ng-switch-when="done" class="zyxel_btn_area">
          <% session[:first_pairing] = true %>
          <%= link_to(I18n.t("labels.my_devices"), root_path, class: "zyxel_btn_ok") %>
          <% if @device.find_module_list.include?('ddns') %>
            <%= link_to(I18n.t("titles.settings.ddns"), tutorial_path(@device), class: "zyxel_btn_ok") %>
          <% end %>
        </div>
        <div ng-switch-when="confirm_cancel" class="zyxel_btn_area i18n_fix">
          <button id="pairing_waiting_confirm_cancel_cancel_button" class="zyxel_btn_back" ng-click="continue()"><%= I18n.t("labels.cancel") %></button>
          <%= link_to(I18n.t("labels.confirm"), "/pairing/cancel/#{@device.encoded_id}", class: "zyxel_btn_ok zyxel_enabled") %>
        </div>
    </div>
    <%# end - Pairing bottom content %>
  </div>
</div>


<script type="text/javascript">
  var pairing_app = angular.module('pairing_app', ['timer']);
  pairing_app.controller('PairingCtrl', function ($scope, $timeout, $http) {

    $scope.step = 'connecting';
    $scope.panel = 'loading';
    $scope.interval = 3000;
    $scope.formateSuffix = ".json";
    $scope.checkConnectionUrl = '/pairing/check_connection/';
    $scope.identicalSession = 0;

    $scope.init = function(){

      if($scope.session.status == 'waiting' && $scope.session.expire_in <= 0){
        $scope.failureStep();
        return;
      } else if($scope.step == 'confirm_cancel') {
        return;
      }

      if($scope.session.status == 'waiting' || $scope.session.status == 'start'){
        $scope.expireIn = parseInt($scope.session.expire_in);
        $scope.waitingStep();
        $timeout(startTimer, 500);
      }

      $scope.identicalSession = $scope.session.expire_at;
      $scope.checkConnection();
    };

    $scope.checkConnection = function(){

      $scope.disableBtn();
      switch($scope.session.status){

        case 'offline':
          $scope.disconnectionStep();
          break;
        case 'start':
        case 'waiting':

          if($scope.identicalSession != $scope.session.expire_at){
            $scope.canceledStep();
            break;
          }

          $scope.disableBtn();
          $scope.poll();
          break;
        case 'timeout':
          // $timeout(function(){$scope.failureStep();}, 500);
          $scope.$broadcast('timer-stop');
          $scope.expireIn = 0;
          $scope.enableBtn();
          break;
        case 'cancel':
          $scope.canceledStep();
          break;
        case 'failure':
          $scope.canceledStep();
          break;
        case 'done':
          $scope.completedStep();
          break;
      }
    };

    $scope.poll = function(){

      var url = $scope.checkConnectionUrl  + $scope.deviceId;

      $timeout(function(){
        $http.get(url).success(function(response) {
          $scope.session = response;
          $scope.checkConnection();
        });
      }, $scope.interval);
    };

    $scope.reconnect = function(){
      location.reload();
    };

    $scope.cancel = function() {
      $scope.step = "confirm_cancel";
      $scope.panel = "confirm_cancel";
    }

    $scope.continue = function() {
      if($scope.session.status == 'start' || $scope.session.status == 'waiting') {
        $scope.reconnect();
        return;
      }
      $scope.checkConnection();
    }

    $scope.$on('timer-stopped', function (event, args) {
      if($scope.session.status == 'waiting' || $scope.session.status == 'timeout'){
        $timeout(function(){$scope.failureStep();}, 500);
      }
    });

    var startTimer = function(){
      $scope.$broadcast('timer-start');
    };

    $scope.checkWaiting = function(){
      $http.get($scope.checkConnectionUrl + $scope.sessionId + $scope.formateSuffix).success(function(response) {
        switch(response.status){
          case 'done':
            $scope.$broadcast('timer-stop');
            $scope.completedStep();
            break;
          case 'failure':
            $scope.canceledStep();
            break;
         }
      });
    };

    $scope.waitingStep = function(){
      $scope.step = "waiting";
      $scope.panel = "waiting";
    }
    $scope.connectingStep = function(){
      $scope.step = 'connecting';
      $scope.panel = 'loading';
      $scope.disableBtn();
    };

    $scope.failureStep = function(){
      $scope.step = 'failure';
      $scope.panel = 'retry';
      $scope.enableBtn();
    };

    $scope.disconnectionStep = function(){
      $scope.step = 'disconnection';
      $scope.panel = 'retry';
      $scope.enableBtn();
    };

    $scope.canceledStep = function(){
      $scope.step = 'canceled';
      $scope.panel = 'retry';
      $scope.enableBtn();
    };

    $scope.completedStep = function(){
      $scope.step = 'done';
      $scope.panel = 'done';
      $scope.enableBtn();
    };

    $scope.disableBtn = function(){
      var allButton = document.querySelectorAll("a:not(.zyxel_enabled)");
      for(var i=0; i<allButton.length; i++){
        var $thisBtn = allButton[i];
        var $thisUrl = $thisBtn.getAttribute('href');
        if ($thisUrl != "#"){
          $thisBtn.setAttribute('data-href', $thisUrl);
          $thisBtn.setAttribute('href', '#');
        };
      };
    };

    $scope.enableBtn = function(){
      var allButton = document.querySelectorAll("a[data-href]:not(.zyxel_enabled)");
      for(var i=0; i<allButton.length; i++){
        var $thisBtn = allButton[i];
        var $dataUrl = $thisBtn.getAttribute('data-href');
        if ($dataUrl){
          $thisBtn.setAttribute('href', $dataUrl);
        };
      };
    };

  });
</script>
