<!-- Introduction -->
<li>
  <h2>Introduzione</h2>
  <article>
    <p>
      myZyXELcloud, la soluzione per la gestione delle applicazioni remote e accesso sicuro ai tuoi dispositivi accessori di rete ZyXEL da qualsiasi parte che dispone di una connessione ad internet!
      <br>
      myZyXELcloud offre 3 modi per accedere al portale cloud.  È possibile effettuare il login utilizzando il proprio account di social network esistente da "FACEBOOK" o "Google+" senza inserire informazioni utente aggiuntive.  Se non si dispone di un account di social network, è anche possibile registrare da myZyXELcloud con la propria email.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Accedi tramite social network</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Si prega di accettare la richiesta myZyXELcloud per recuperare il vostro profilo e indirizzo e-mail pubblico da FACEBOOK.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Si prega di accettare la richiesta myZyXELcloud per recuperare il vostro profilo e indirizzo e-mail pubblico da Google+.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Si prega di verificare e concordare le condizioni d'uso ZyXEL cloud.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      Dopo avere effettuato l'accesso tramite il proprio account di social network, è possibile modificare il proprio profilo utente sul portale myZyXELcloud. Se si desidera cambiare la password dell'account, si prega di utilizzare i social network esistenti (Facebook o Google ) per modificare la password esistente.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>Registra tramite il portale myZyXELcloud</h2>
  <article>
    <p>Si prega di compilare tutte le informazioni richieste nella pagina di accesso</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud invierà una e-mail di conferma al tuo account di posta elettronica.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Controlla la posta in arrivo del tuo account e-mail e clicca sul link per confermare la registrazione dell'account nella e-mail.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>La pagina reindirizzerà alla pagina confermata</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>Ho dimenticato la Password</h2>
  <article>
    <p>
      Se hai dimenticato la password, clicca sul link "forgot my password (Ho dimenticato la password)" sulla pagina di accesso.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud invierà una e-mail all'account e-mail che hai registrato per reimpostare la password dell'account.
    </p>
    <p>
    P.S: Per account social: Se si desidera cambiare la password dell'account, si prega di utilizzare i social network esistenti (Facebook o Google ) per modificare la password esistente.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Si prega di fare clic sul collegamento nel messaggio e-mail per iniziare reimpostare la password.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Si prega di inserire la nuova password e premere il pulsante submit (Invia).
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud effettuerà l'accesso automaticamente con la tua nuova password.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Modifica il profilo utente del cloud e modifica la password</h2>
  <article>
    <p>
      Si prega di premere l'icona utente<i class="member_icon"></i>sul lato destro dopo aver effettuato l'accesso su myZyXELcloud.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Immetti la password corrente e la password nuova per modificare la password dell'account.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Modifica del profilo utente del cloud.
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Abbinamento dispositivi</h2>
  <article>
    <p>
      Si prega di premere il pulsante di ricerca per iniziare automaticamente la ricerca del dispositivo.  Se non è in grado di rilevare il dispositivo, premere il pulsante "manually add (Aggiungi manualmente)" per aggiungere il dispositivo manualmente.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      myZyXELcloud richiede di inserire il tuo indirizzo MAC e numero di serie numero per aggiungere manualmente il dispositivo.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Premere "Submit (Invia)" per confermare e abbinare il dispositivo
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      Entro 10 minuti, premere il pulsante pairing (abbinamento) del proprio dispositivo.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Premere il pulsante "Confirm (Conferma)" per configurare i servizi DDNS e UPnP.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>Impostazione DDNS</h2>
  <article>
    <p>
      Inserire un nome host desiderato per il DDNS composto di 3-63 caratteri.  Il primo carattere deve essere una lettera.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>Impostazione UPnP</h2>
  <article>
    <p>
      Dopodiché, myZyXELcloud sincronizzerà le impostazioni UPnP
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud elencherà tutti i servizi UPnP che sono già installati sul dispositivo, selezionare quale servizio (i) si desidera attivare o disattivare.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud risponderà con i risultati aggiornati delle impostazioni UPnP, (esempio: la porta predefinita del servizio web HTTP NAS540 è 8000, immettere il URL come http:// yourname:8000, e ownCloud è http://yourname.zyxel.me:5000/pkg/ownCloud/, per FTP è ftp://yourname.zyxel.me )
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Congratulazioni, ora si può vedere dispositivo abbinato in "My Devices (Dispositivi)".
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>