<!-- Introduction -->
<li>
  <h2>Введение</h2>
  <article>
    <p>
      myZyXELcloud — это система для удаленного управления приложениями и безопасного доступа к вашим периферийным сетевым устройствам ZyXEL из любого места, где имеется интернет-соединение!
      <br>
      Система myZyXELcloud предлагает 3 способа для входа в портал облачных сервисов. Вы можете войти, используя вашу учетную запись в социальной сети FACEBOOK или Google+ без ввода дополнительной информации о пользователе. Если у вас нет учетной записи в социальных сетях, вы также можете зарегистрироваться в портале myZyXELcloud, используя ваш адрес электронной почты.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Вход с учетной записью социальной сети</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Подтвердите запрос myZyXELcloud на получение от сети FACEBOOK сведений о вашем публичном профиле и вашем адресе эл.почты.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Подтвердите запрос myZyXELcloud на получение от сети Google+ сведений о вашем публичном профиле и вашем адресе эл.почты.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Поставьте галочку для подтверждения вашего согласия с Условиями использования службы ZyXEL Cloud.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      После входа в систему с учетной записью социальной сети вы можете отредактировать данные вашего профиля пользователя в портале myZyXELcloud. Если вы хотите изменить пароль вашей учетной записи, обратитесь к учетной записи вашей социальной сети (FACEBOOK или Google+) и измените существующий пароль.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>Регистрация в портале myZyXELcloud</h2>
  <article>
    <p>Введите все необходимые сведения на странице регистрации</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud вышлет электронное письмо с подтверждением на ваш адрес эл.почты.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Откройте папку «Входящие» в электронной почте и нажмите на ссылке подтверждения регистрации вашей учетной записи.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>Вы будете перенаправлены на страницу подтверждения</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>Я забыл пароль</h2>
  <article>
    <p>
      Если вы забыли пароль, щелкните на ссылке «Forgot my password (Я забыл пароль)» на странице входа в систему.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud вышлет на зарегистрированный вами адрес эл.почты электронное письмо для переустановки пароля вашей учетной записи.
    </p>
    <p>
    P.S. Для учетной записи в социальной сети: Если вы хотите изменить пароль вашей учетной записи, обратитесь к учетной записи вашей социальной сети (FACEBOOK или Google+) и измените существующий пароль.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Нажмите на ссылку в электронном письме, чтобы начать переустановку пароля.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Введите новый пароль и нажмите кнопку Submit (Ввод).
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud автоматически авторизует ваш вход в систему с новым паролем.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Редактирование профиля пользователя облачного сервиса и изменение пароля</h2>
  <article>
    <p>
      После входа в систему myZyXELcloud нажмите на значок пользователя<i class="member_icon"></i>Введите текущий пароль и новый пароль, чтобы изменить пароль вашей учетной записи.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Input current password and new password for changing your account password.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Редактирование профиля пользователя облачного сервиса
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Сопряжение устройств</h2>
  <article>
    <p>
      Нажмите на кнопку поиска для запуска автоматического поиска вашего устройства. Если найти устройство не удается, нажмите кнопку Manually add (Добавить вручную), чтобы добавить ваше устройство вручную.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      Чтобы добавить устройство вручную, в службе myZyXELcloud требуется ввести MAC-адрес и серийный номер устройства.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Нажмите кнопку Submit (Ввод), чтобы подтвердить изменения и выполнить сопряжение устройства
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      В течение 10 минут нажмите кнопку Pairing (Сопряжение) на вашем устройстве.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Нажмите кнопку Confirm (Применить) для настройки параметров DDNS и UPnP.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>Настройка DDNS</h2>
  <article>
    <p>
      Введите желаемое имя хоста для сервиса DDNS, которое должно содержать от 3 до 63 символов. Первый символ должен быть буквой.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>Настройка UPnP</h2>
  <article>
    <p>
      Затем система myZyXELcloud синхронизирует параметры UPnP
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud предоставит список всех сервисов UPnP, установленных в вашем устройстве. Выберите сервисы, которые вы хотите включить или отключить.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud отреагирует на результаты обновления настроек UPnP (например: если HTTP-порт по умолчанию для веб-сервиса NAS540 — 8000, введите для него URL-адрес в виде http:// yourname:8000, для сервиса ownCloud — http://yourname.zyxel.me:5000/pkg/ownCloud/, а для FTP — ftp://yourname.zyxel.me)
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Поздравляем, теперь сопряженное устройство будет отображаться в разделе “My Devices” (Мои устройства).
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>