<!-- Introduction -->
<li>
  <h2>Présentation</h2>
  <article>
    <p>
      myZyXELcloud, votre solution pour la gestion des applications à distance et l'accès en toute sécurité à vos appareils du réseau ZyXEL depuis n'importe quel endroit équipé d'une connexion Internet !
      <br>
      myZyXELcloud procure 3 manières de se connecter au portail du cloud. Vous pouvez vous connecter en utilisant votre compte de réseau social existant depuis “FACEBOOK” ou “Google+” sans entrer d'informations utilisateur supplémentaires. Si vous ne disposez pas d'un compte de réseau social, vous pouvez également vous inscrire par myZyXELcloud avec votre e-mail.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Connectez-vous par réseau social</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Veuillez accepter la demande de myZyXELcloud de récupérer votre profil et adresse e-mail publique depuis FACEBOOK.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Veuillez accepter la demande de myZyXELcloud de récupérer votre profil publique et adresse e-mail depuis Google+.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Veuillez consulter et accepter les conditions d'utilisation de ZyXEL cloud.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      Après la connexion en utilisant votre compte de réseau social, vous pouvez modifier votre profil d'utilisateur sur le portail de myZyXELcloud. Si vous souhaitez changer le mot de passe de votre compte, utilisez votre compte de réseau social existant (FACEBOOK ou Google+) pour changer votre mot de passe existant.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>S'inscrire par le portail myZyXELcloud</h2>
  <article>
    <p>Veuillez remplir tous les renseignements requis dans la page d'inscription</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud enverra une confirmation par e-mail à votre compte de messagerie.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Veuillez consulter la boîte de réception de votre compte de messagerie et cliquez sur le lien pour confirmer votre inscription au compte dans l'e-mail.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>La page redirigera vers la page confirmée</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>J'ai oublié mon mot de passe</h2>
  <article>
    <p>
      Si vous avez oublié votre mot de passe, cliquez sur le lien “forgot my password” (J'ai oublié mon mot de passe) dans la page de connexion.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud enverra un e-mail à votre compte de messagerie enregistré pour réinitialiser le mot de passe de votre compte.
    </p>
    <p>
    P.S Pour compte de réseau social : Si vous voulez changer le mot de passe de votre compte, veuillez utiliser votre compte de réseau social existant (FACEBOOK ou Google+) pour changer votre mot de passe existant.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Veuillez cliquer sur le lien dans le message e-mail pour commencer à réinitialiser votre mot de passe.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Veuillez saisir votre nouveau mot de passe et appuyez sur le bouton submit (Envoyer).
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud se connectera avec votre nouveau mot de passe réinitialisé automatiquement.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Modifier le profil utilisateur du cloud et changer le mot de passe</h2>
  <article>
    <p>
      Appuyez sur l'icône de l'utilisateur<i class="member_icon"></i>sur le côté droit après vous être connecté à myZyXELcloud.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Saisissez le mot de passe actuel et le nouveau mot de passe pour changer le mot de passe de votre compte.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Modifier le profil de l'utilisateur du cloud
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Association de périphériques</h2>
  <article>
    <p>
      Appuyez sur le bouton de recherche pour commencer à rechercher automatiquement votre appareil. S'il est impossible de trouver votre appareil, appuyez sur le bouton “manually add” (ajouter manuellement) pour ajouter manuellement votre appareil.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      myZyXELcloud nécessite la saisie des informations telles que votre adresse MAC et le numéro de série pour ajouter manuellement votre appareil.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Appuyez sur le bouton “Submit” (Envoyer) pour confirmer et associer votre appareil
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      En l'espace de 10 minutes, appuyez sur le bouton pairing (associer) sur votre appareil.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Appuyez sur le bouton “Confirm” (Confirmer) pour installer le service DDNS et UPnP.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>Paramètre DDNS</h2>
  <article>
    <p>
      Veuillez saisir un nom d'hôte souhaité pour votre DDNS comportant 3 à 63 caractères. Le premier caractère doit être une lettre.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>Paramètre UPnP</h2>
  <article>
    <p>
      Puis, myZyXELcloud synchronisera les paramètres UPnP
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud affichera la liste de tous les services UPnP déjà installés sur votre appareil, veuillez sélectionner le(s) service(s) que vous souhaitez activer ou désactiver.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud répondra avec les résultats mis à jour des paramètres UPnP, (exemple : Le port par défaut du service web HTTP NAS540 est 8000, entrez l'URL telle que http:// yourname:8000, et ownCloud est http://yourname.zyxel.me:5000/pkg/ownCloud/, FTP est ftp://yourname.zyxel.me)
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Félicitations, vous pouvez voir l'appareil associé dans “My Devices” (Mes appareils) maintenant.
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>