<!-- Introduction -->
<li>
  <h2>Úvod</h2>
  <article>
    <p>
      Služba myZyXELcloud představuje vaše řešení pro vzdálené řízení aplikací a bezpečný přístup k síťovým zařízením ZyXEL z jakéhokoliv místa s připojení k Internetu!
      <br>
      Služba myZyXELcloud nabízí 3 způsoby pro přihlášení ke cloudovému portálu. Můžete se přihlásit pomocí svého stávajícího účtu sociálních sítí „FACEBOOK“ nebo „Google+“, aniž byste museli zadívat další uživatelské informace. Pokud nemáte žádný účet sociální sítě, můžete se ke službě myZyXELcloud zaregistrovat také pomocí své e-mailová adresy.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Přihlásit pomocí účtu sociální sítě</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Přijměte mou žádost o zaregistrování ke službě myZyXELcloud pomocí mého veřejného profilu a e-mailové adresy sítě FACEBOOK.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Přijměte mou žádost o zaregistrování ke službě myZyXELcloud pomocí mého veřejného profilu a e-mailové adresy sítě Google+.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Zkontrolujte si podmínky použití služby myZyXELcloud a vyjádřete s nimi souhlas.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      Po přihlášení pomocí svého účtu sociální sítě můžete upravit svůj profil na portálu služby myZyXELcloud. Pokud chcete změnit heslo svého účtu, použijte stávající účet sociální sítě (FACEBOOK nebo Google+) a změňte stávající heslo.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>Registrovat na portálu služby myZyXELcloud</h2>
  <article>
    <p>Vyplňte všechny požadované informace na stránce registrace</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>Služba myZyXELcloud vám zašle potvrzující e-mail na váš e-mailový účet.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Zkontrolujte obsah své schránky s doručenou poštou a kliknutím na odkaz potvrďte registraci účtu v e-mailu.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>Stránka vás přesměruje na stránku s potvrzením</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>Zapomněl jsem své heslo</h2>
  <article>
    <p>
      Pokud jste zapomněli své heslo, klikněte na tlačítko „forgot my password“ (Zapomněl jsem své heslo) v odkazu na stránce přihlášení.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      Služba myZyXELcloud vám zašle e-mail na registrovaný e-­mailový účet, jehož pomocí resetujete své stávající heslo k účtu.
    </p>
    <p>
    V případě účtu sociální sítě: Pokud chcete změnit heslo svého účtu, použijte stávající účet sociální sítě (FACEBOOK nebo Google+) a změňte stávající heslo.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Klikněte na odkaz v e-mailová zprávě a aktivujte resetování svého hesla.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Zadejte své nové heslo a stiskněte tlačítko submit (Odeslat).
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      Služba myZyXELcloud vás automaticky přihlásí s novým heslem pro resetování.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Upravit profil uživatele a změnit heslo</h2>
  <article>
    <p>
      Přihlaste se k účtu služby myZyXELcloud stiskněte ikonu uživatele<i class="member_icon"></i>vpravo.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Zadejte stávající heslo a nové heslo pro změnu hesla účtu.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Upravit profil uživatele cloudu
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Párování zařízení</h2>
  <article>
    <p>
      Stiskněte tlačítko hledání a začněte automaticky vyhledávat zařízení. Pokud nenaleznete své zařízení, stiskněte tlačítko „manually add“ (Přidat ručně) a přidejte zařízení ručně.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      Služba myZyXELcloud vyžaduje zadání adresy MAC a sériového čísla zařízení.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Stiskněte tlačítko „Submit“ (Odeslat) a potvrďte spárování svého zařízení.
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      Do 10 minut stiskněte tlačítko pairing (Párování) na svém zařízení.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Stiskněte tlačítko „Confirm“ (Potvrdit) a nastavte služby DDNS a UPnP.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>Nastavení DDNS</h2>
  <article>
    <p>
      Zadejte požadovaný název hostitele pro službu DDNS o délce 3 až 63 znaků. První znak by měl být písmeno.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>Nastavení UPnP</h2>
  <article>
    <p>
      Služba myZyXELcloud synchronizuje nastavení UPnP
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      Služba myZyXELcloud uvede seznam všech služeb UPnP, která jsou již instalované ve vašem zařízení. Vyberte, které služby chcete povolit nebo zakázat.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      Služba myZyXELcloud odešle aktualizované výsledky nastavení služby UPnP (příklad: výchozí port služby HTTP zařízení NAS540 je 8000, zadejte proto adresu URL ve formě  http:// yourname:8000, služba ownCloud bude http://yourname.zyxel.me:5000/pkg/ownCloud/, služba FTP bude ftp://yourname.zyxel.me)
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Blahopřejeme, nyní můžete vidět své zařízení v nabídce „My Devices (Moje zařízení)“
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>