<!-- Introduction -->
<li>
  <h2>介紹</h2>
  <article>
    <p>
      myZyXELcloud 提供您一個在任何具有網路連線的地方，遠端控管應用程式及安全存取合勤網路設備的平台
      <br>
      myZyXELcloud 提供三種方式登入雲端入口網站，你可以從Facebook和 Google+ 使用現有的社群帳號作登入，並且不需用輸入額外的用戶資訊。如果你沒有網路社群帳號，你也可以在myZyXELcloud透過電子郵件的方式註冊。
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>透過社群網站進行登入動作</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      請接受 myZyXELcloud 從Facebook取得你對外公開的使用者檔案的請求
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      請接受 myZyXELcloud 從Google+取得你對外公開的使用者檔案的請求
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      請確認並且同意合勤雲端使用者條款
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      當您透過網路社群帳號登入後，您可以在myZyXELcloud 網站編輯個人檔案，但是如果你想要變更您的帳號密碼，請使用您現有的社群網路(FACEBOOK 或 Google+)來變更您現有的密碼。
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>透過myZyXELcloud 網站進行註冊</h2>
  <article>
    <p>請在註冊頁面填寫所有的必要資訊</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud 將會寄出確認信件到您填寫的郵件位址</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>請檢查您的郵件信箱收件夾，並且點選信件中的連結，此動作將會確認您的帳號註冊信箱為有效信箱。</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>網路頁面將會導向確認頁面</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>忘記密碼</h2>
  <article>
    <p>
      如果您忘記您的密碼，請點選在登入頁面的”忘記密碼”連結
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud 將會寄出一封重置密碼的郵件到您註冊的郵件信箱位址
    </p>
    <p>
    注意: 對社群網路帳號: 如果你想要變更您的帳號密碼，請使用您現有的社群網路(FACEBOOK 或 Google+)來變更您現有的密碼。
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      請點選在信件中的連結來重置您的密碼
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      請輸入您的新密碼並且按下提交按鍵
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud 將會自動使用您的新密碼作登入動作
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>編輯雲端使用者的個人資訊和變更密碼</h2>
  <article>
    <p>
      登入myZyXELcloud之後，請按下在右手邊的使用者圖像<i class="member_icon"></i>
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      請輸入現在的密碼和新的密碼來更改您的帳號密碼
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      編輯雲端使用者個人資訊
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>裝置配對</h2>
  <article>
    <p>
      請按下搜尋按鈕來自動開始搜尋您的裝置，如果沒有成功發現您的裝置，請點選”手動加入裝置”按鍵” 來透過手動的方式增加您的裝置。
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      myZyXELcloud手動加入裝置過程，將會要求您輸入您的網路硬體位置 (MAC address) 和產品序號
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      請點選”提交”按鈕來確認配對您的裝置
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      請在十分鐘內，在您的裝置上點選”配對”按鈕
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      請按下”確認”按鈕繼續設定 DDNS 和 UPnP服務
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>DDNS 設定</h2>
  <article>
    <p>
      請輸入三到六十三個字元來命名您希望的DDNS名稱，第一個字元必須是英文字母
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>UPnP 設定</h2>
  <article>
    <p>
      下一步，myZyXELcloud將會同步化UPnP設定
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud將會列出您已將安裝在裝置內的所有UPnP服務，請選擇您想要開啟或關閉哪一個 (些) 服務
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud 將會回應您UPnP設定更新的結果 (範例: NAS540 HTTP網頁服務預設的連接埠是8000, 請輸入網址如下http:// 您的名稱.zyxel.me:8000，owncloud服務預設的連接埠是5000, 請輸入網址如下http:// 您的名稱.zyxel.me:5000 FTP檔案伺服器服務是 ftp://您的名稱.zyxel.me
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      恭喜，您現在可以在”我的裝置”下看到已經配對的裝置
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>