<!-- Introduction -->
<li>
  <h2>Wprowadzenie</h2>
  <article>
    <p>
      myZyXELcloud to rozwiązanie zdalnego zarządzania aplikacjami i bezpiecznego dostępu do akcesoriów urządzeń sieciowych ZyXEL z dowolnego miejsca, w którym istnieje połączenie internetowe!
      <br>
      myZyXELcloud umożliwia 3 sposoby logowania się do portalu w chmurze. Możliwe jest zalogowanie się za pomocą istniejącego konta sieci społecznościowej czyli „FACEBOOK” lub „Google+”, bez wprowadzania dodatkowych danych użytkownika. Jeżeli nie posiadasz jednak konta sieci społecznościowej, możliwe jest także zarejestrowanie konta myZyXELcloud za pomocą adresu e-mail.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Zaloguj się za pomocą sieci społecznościowej</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Zaakceptuj prośbę myZyXELcloud o udostępnienie danych profilu publicznego i adresu e-mail FACEBOOK.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Zaakceptuj prośbę myZyXELcloud o udostępnienie danych profilu publicznego i adresu e-mail Google+.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Prosimy o zaznaczenie kratki, co oznacza zgodę na warunki użytkowania chmury ZyXEL.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      Po zalogowaniu się za pomocą konta sieci społecznościowej można edytować profil użytkownika na portalu myZyXELcloud. Jeżeli chcesz zmienić hasło, użyj istniejącego konta na portalu społecznościowym (FACEBOOK lub Google+) do zmiany bieżącego hasła.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>Zaloguj się za pomocą sieci społecznościowej</h2>
  <article>
    <p>Uzupełnij wszystkie wymagane dane na stronie rejestracyjnej</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud prześle wiadomość potwierdzającą na Twój adres e-mail.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Sprawdź skrzynkę odbiorczą oraz kliknij łącze w wiadomości e-mail, aby potwierdzić rejestrację konta.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>Spowoduje to przekierowanie do strony potwierdzenia rejestracji</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>Zapomniane hasło</h2>
  <article>
    <p>
      Jeżeli nie pamiętasz hasła kliknij łącze „forgot my password (nie pamiętam hasła)” na stronie logowania.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud prześle wiadomość na zarejestrowany adres e-mail, aby zresetować hasło.
    </p>
    <p>
    P.S. W przypadku rejestracji przez konto społecznościowe: jeżeli chcesz zmienić hasło do konta, należy użyć istniejącego konta sieci społecznościowej (FACEBOOK lub Google+), aby zmienić bieżące hasło.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Kliknij łącze w wiadomości e-mail, aby rozpocząć procedurę resetowania hasła.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Wprowadź nowe hasło i wciśnij przycisk submit (prześlij).
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      Nastąpi automatyczne zalogowanie na koncie myZyXELcloud za pomocą nowego zresetowanego hasła.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Edycja profilu użytkownika w chmurze i zmiana hasła</h2>
  <article>
    <p>
      Kliknij ikonę użytkownika <i class="member_icon"></i>po prawej stronie po zalogowaniu na koncie myZyXELcloud.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Aby zmienić hasło do konta, wprowadź bieżące hasło oraz nowe hasło.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Edycja profilu użytkownika
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Parowanie urządzeń</h2>
  <article>
    <p>
      Kliknij przycisk szukaj urządzenia, aby rozpocząć automatyczne wyszukiwanie urządzeń. Jeżeli odnalezienie urządzenia jest niemożliwe, wciśnij przycisk „manually add (dodaj ręcznie)”, aby dodać urządzenie w trybie ręcznym.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      Portal myZyXELcloud wymaga wprowadzenia danych takich jak adres MAC oraz numer seryjny, aby ręcznie dodać urządzenie.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Kliknij przycisk „Submit (Prześlij)”, aby zatwierdzić parowanie urządzenia
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      W ciągu 10 minut wciśnij przycisk pairing (parowanie) na urządzeniu.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Kliknij przycisk „Confirm (Potwierdź)”, aby skonfigurować usługę DDNS oraz UPnP.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>Ustawienia DDNS</h2>
  <article>
    <p>
      Wprowadź żądaną nazwę hosta dla DDNS w zakresie od 3 do 63 znaków. Pierwszy znak musi być literą.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>Ustawienia UPnP</h2>
  <article>
    <p>
      Następnie myZyXELcloud zsynchronizuje ustawienia UPnP
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud wyświetli listę wszystkich usług UPnP, które są już zainstalowane na urządzeniu. Wybierz usługę(i), które chcesz włączyć lub wyłączyć.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud odpowie zaktualizowanymi wynikami ustawień UPnP (przykład: NAS540 HTTP gdzie domyślny port usługi sieciowej to 8000, URL należy wprowadzić jako http:// yourname:8000, natomiast chmura ownCloud to http://yourname.zyxel.me:5000/pkg/ownCloud/, gdzie FTP to ftp://yourname.zyxel.me)
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Gratulacje, teraz możesz już zobaczyć sparowane urządzenie w części „My Devices (Moje urządzenia)”.
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>