<!-- Introduction -->
<li>
  <h2>บทนำ</h2>
  <article>
    <p>
      myZyXELcloud, โซลูชั่นของคุณสำหรับการจัดการแอประยะไกลและการเข้าสูเครือข่ายอุปกรณ์เสริมของ ZyXEL ของคุณอย่างปลอดภัย จากทุกหนแห่งที่มีการเชื่อมตจ่ออินเทอร์เนต!
      <br>
      myZyXELcloud มีช่องทางให้เลือก 3 แบบเพื่อลงชื่อเข้าใช้งานคลาวด์พอร์ทัล . คุณสามารถเข้าสู่ระบบโดยใช้บัญชีผู้ใช้เครือข่ายโวเชียลมีเดียของคุณที่มีอยู่จาก "FACEBOOK" หรือ “Google+” โดยไม่ต้องป้อนข้อมูลของผู้ใช้  หากคุณไม่ได้มีบัญชีเครือข่ายสังคมคุณยังสามารถลงทะเบียนโดย myZyXELcloud ด้วยอีเมลของคุณ
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>ลงชื่อเข้าใช้งานโดย เครือข่ายโวเชียลมีเดีย</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      กรุณายอมรับคำขอ myZyXELcloud ในการเรียกดูโปรไฟล์สาธารณะของคุณและที่อยู่อีเมลจาก FACEBOOK
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      กรุณายอมรับคำขอ myZyXELcloud ในการเรียกดูโปรไฟล์สาธารณะของคุณและที่อยู่อีเมลจาก Google+
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      กรุณาตรวจสอบและยอมรับเงื่อนไขในการใช้งานของ ZyXEL cloud
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      หลังจากที่ลงนามโดยใช้บัญชีผู้ใช้เครือข่ายโซเชียลมีเดีย คุณสามารถแก้ไขข้อมูลส่วนตัวของผู้ใช้ของคุณบน myZyXELcloud พอร์ทัล ถ้าคุณต้องการที่จะเปลี่ยนรหัสผ่านของบัญชีของคุณ โปรดใช้บัญชีผู้ใช้เครือข่ายโซเชียลมีเดียที่มีอยู่ (Facebook หรือ Google +) เพื่อเปลี่ยนรหัสผ่านของคุณที่มีอยู่
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>ลงทะเบียนโดย myZyXELcloud พอร์ทัล</h2>
  <article>
    <p>กรุณากรอกข้อมูลทั้งหมดที่จำเป็นในหน้าเข้าสู่ระบบ</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud จะส่งอีเมลยืนยันไปยังบัญชีอีเมลของคุณ</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>กรุณาตรวจสอบกล่องจดหมายของบัญชีอีเมลของคุณและคลิกที่ลิงค์เพื่อยืนยันการลงทะเบียนบัญชีของคุณในอีเมล</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>หน้าจะเปลี่ยนเส้นทางไปยังหน้ายืนยัน</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>ลืมรหัสผ่านของฉัน</h2>
  <article>
    <p>
      หากคุณลืมรหัสผ่านของคุณกรุณาคลิกที่ “forgot my password(ลืมรหัสผ่านของฉัน)” ที่ลิงค์อยู่ที่หน้าลงชื่อเข้าใช้งาน
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud จะส่งอีเมล์ไปยังบัญชีอีเมลที่ลงทะเบียนไว้เพื่อรีเซ็ตรหัสผ่านบัญชีของคุณ
    </p>
    <p>
หมายเหตุ สำหรับบัญชีโซเชียลมีเดีย ถ้าคุณต้องการที่จะเปลี่ยนรหัสผ่านของบัญชีของคุณ โปรดใช้บัญชีผู้ใช้เครือข่ายโซเชียลมีเดียที่มีอยู่ (Facebook หรือ Google +) เพื่อเปลี่ยนรหัสผ่านของคุณที่มีอยู่    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      กรุณาคลิกที่ลิงก์ในข้อความอีเมลที่จะเริ่มต้นการรีเซ็ตรหัสผ่านของคุณ
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      กรุณาใส่รหัสผ่านใหม่ของคุณและกดปุ่มsubmit(ส่ง)
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud จะลงชื่อเข้าใช้ด้วยรีเซ็ตรหัสผ่านใหม่ของคุณโดยอัตโนมัติ
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>แก้ไขโปรไฟล์ผู้ใช้งานคลาวด์และเปลี่ยนรหัสผ่าน</h2>
  <article>
    <p>
      กรุณากดที่ไอคอนของผู้ใช้<i class="member_icon"></i>บนด้านขวามือหลังจากที่คุณได้เข้าสู่ระบบใน myZyXELcloud
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      ใส่รหัสผ่านปัจจุบันและรหัสผ่านใหม่สำหรับการเปลี่ยนรหัสผ่านของบัญชีของคุณ
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      แก้ไขโปรไฟล์ผู้ใช้งานคลาวด์
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>การจับคู่อุปกรณ์</h2>
  <article>
    <p>
      กรุณากดปุ่มค้นหาเพื่อเริ่มต้นการค้นหาอุปกรณ์ของคุณโดยอัตโนมัติ. ถ้าไม่สามารถหาอุปกรณ์ของคุณพบ กรุณากดที่ปุ่ม “manually add (เพิ่มด้วยตนเอง)” เพื่อเพิ่มอุปกรณ์ด้วยตัวคุณเอง
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      myZyXELcloud ต้องให้คุณป้อน MAC address และข้อมูลหมายเลขซีเรียลเพื่อเพิ่มอุปกรณ์ด้วยตนเอง
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      กดปุ่ม “Submit (ส่ง)”เพื่อยืนยันและจับคู่อุปกรณ์ของคุณ
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      ภายใน 10 นาทีกดปุ่ม ปุ่มpairing ( จับคู่) บนอุปกรณ์ของคุณ
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      กดปุ่ม “Confirm(ยืนยัน)” เพื่อตั้งค่า DDNS และบริการ UPnP
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>การตั้งค่า DDNS</h2>
  <article>
    <p>
      กรุณาใส่ชื่อโฮสต์ที่ต้องการสำหรับ DDNS ของคุณด้วยตัวอักษร 3 ถึง 63 ตัว  ตัวอักษรแรกต้องเป็นตัวหนังสือ
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>การตั้งค่า UPnP</h2>
  <article>
    <p>
      จากนั้น myZyXELcloud จะซิงค์การตั้งค่า UPnP
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud จะแสดงรายชื่อบริการ UPnP ทั้งหมดที่ติดตั้งอยู่บนอุปกรณ์ของคุณ โปรดเลือกบริการที่คุณต้องการที่จะเปิดใช้งานหรือปิดใช้งาน
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud จะตอบสนองกับผลการปรับปรุงการตั้งค่า UPnP (ตัวอย่างเช่น บริการเว็บ HTTP NAS540 พอร์ตเริ่มต้นคือ 8000 โปรดป้อน URL เป็น http: // YourName: 8000, และ ownCloud เป็น http://yourname.zyxel.me:5000/pkg/ownCloud/, FTP เป็น ftp://yourname.zyxel.me)
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      ขอแสดงความยินดีด้วย คุณจะมองเห็นอุปกรณ์ที่จับคู่ภายใน “My Devices (อุปกรณ์ของฉัน) ”ในตอนนี้
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>