<!-- Introduction -->
<li>
  <h2>Introducción</h2>
  <article>
    <p>
      ¡myZyXELcloud, su solución para la administración remota de aplicaciones y acceso seguro a los accesorios de los dispositivos de la red ZyXEL desde cualquier lugar con conexión a Internet!
      <br>
      myZyXELcloud ofrece 3 modos para iniciar sesión en el portal de la nube. Puede iniciar sesión usando su cuenta de red social actual en “FACEBOOK” o “Google+” sin introducir información de usuario adicional. Si no tiene una cuenta de red social, puede registrarse en myZyXELcloud con su correo electrónico.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Iniciar sesión con red social</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Acepte la solicitud de myZyXELcloud para tener acceso a su perfil público y dirección de correo electrónico de FACEBOOK.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Acepte la solicitud de myZyXELcloud para tener acceso a su perfil público y dirección de correo electrónico de Google+.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Marque y acepte los términos de uso de la nube ZyXEL.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      Tras iniciar sesión usando su cuenta de red social, podrá editar su perfil de usuario en el portal myZyXELcloud. Si desea cambiar la contraseña de su cuenta, utilice su cuenta de red social (FACEBOOK o Google+) para cambiar la contraseña existente.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>Registrar en el portal myZyXELcloud</h2>
  <article>
    <p>Rellene toda la información necesaria en la página de inicio de sesión</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud enviará un correo electrónico de confirmación a su cuenta de correo electrónico.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Compruebe la bandeja de entrada de su cuenta de correo electrónico y haga clic en el enlace para confirmar el registro de su cuenta en el correo electrónico.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>La página le redireccionará a la página de confirmación</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>He olvidado mi contraseña</h2>
  <article>
    <p>
      Si ha olvidado su contraseña, haga clic en el enlace “forgot my password” (he olvidado mi contraseña) en la página de inicio de sesión.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud le enviará un correo electrónico a su cuenta de correo electrónico registrada para restaurar la contraseña de su cuenta.
    </p>
    <p>
    P.S para cuentas de redes sociales: Si desea cambiar la contraseña de su cuenta, utilice la cuenta de su red social (FACEBOOK o Google+) para cambiar la contraseña existente.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Haga clic en el enlace en el mensaje de correo electrónico para comenzar a restablecer su contraseña.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      myZyXELcloud iniciará sesión automáticamente con su nueva contraseña restablecida.
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud will sign in with your new reset password automatically.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Editar el perfil de usuario de la nube y cambiar contraseña</h2>
  <article>
    <p>
      Presione el icono de usuario<i class="member_icon"></i>en la parte derecha tras haber iniciado sesión en myZyXELcloud.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Escriba la contraseña actual y la nueva contraseña para cambiar la contraseña de su cuenta.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Editar el perfil de usuario de la nube
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Asociación de dispositivos</h2>
  <article>
    <p>
      Presione el botón de búsqueda para iniciar la búsqueda de su dispositivo automáticamente. Si no puede encontrar su dispositivo, presione el botón “manually add” (añadir manualmente) para añadir su dispositivo manualmente.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      myZyXELcloud necesita que escriba su dirección MAC y el número de serie para añadir su dispositivo manualmente.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Presione el botón “Submit” (Enviar) para confirmar y asociar su dispositivo
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      Antes de 10 minutos, presione el botón pairing (asociación) en su dispositivo.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Presione el botón “Confirm” (Confirmar) para configurar DDNS y el servicio UPnP.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>Configuración de DDNS</h2>
  <article>
    <p>
      Escriba el nombre de host deseado para su DDNS con 3 a 63 caracteres. El primer carácter debería ser una letra.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>Configuración de UPnP</h2>
  <article>
    <p>
      A continuación, myZyXELcloud sincronizará la configuración UPnP
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud listará los servicios UPnP que ya estén instalados en su dispositivo, seleccione el/los servicio(s) que desee habilitar o deshabilitar.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud responderá con los resultados actualizados de la configuración UPnP, (ejemplo: el puerto predeterminado del servicio web NAS540 HTTP es 8000, escriba la URL como http:// yourname:8000 y ownCloud es http://yourname.zyxel.me:5000/pkg/ownCloud/, FTP es ftp://yourname.zyxel.me)
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Enhorabuena, puede ver el dispositivo asociado en “My Devices” (Mis dispositivos).
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>