<!-- Introduction -->
<li>
  <h2>Introductie</h2>
  <article>
    <p>
      myZyXELcloud, uw oplossing voor remote applicatiebeheer en veilig toegang tot uw ZyXEL netwerkapparaten en accessoires vanaf elke locatie met een internetverbinding!
      <br>
      myZyXELcloud biedt 3 manieren om uzelf in de cloud portal aan te melden. U kunt inloggen met behulp van uw bestaande sociale netwerk-account van "Facebook" of "Google+" zonder het invoeren van additionele gegevens. Als u niet over een sociaal netwerk-account beschikt, kunt u ook inschrijven door myZyXELcloud met uw e-mail.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Aanmelden via sociale netwerken</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      MyZyXELcloud verzoek om uw publieke profiel en e-mailadres van Facebook halen accepteren.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Gelieve myZyXELcloud verzoek om uw publieke profiel en e-mailadres van Google+ halen accepteren.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Controleer en accepteer de ZyXEL cloud  gebruiksvoorwaarden.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      Na het inloggen met behulp van uw sociale netwerk-account, kunt u uw gebruikersprofiel op myZyXELcloud portal bewerken. Als u wilt uw account wachtwoord te wijzigen, dan kunt u gebruik maken van uw bestaande sociale netwerk-account (Facebook of Google+) om uw bestaande wachtwoord te wijzigen.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>Aanmelden bij myZyXELcloud portal</h2>
  <article>
    <p>Gelieve alle verplichte informatie op de pagina aanmelden vullen</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud stuurt u een bevestiging per e-mail naar uw e-mailaccount.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Controleer u inbox van uw e-mailaccount en klik op de link om uw account registratie in de e-mail te bevestigen.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>De pagina wordt omgeleid naar bevestigd pagina</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>Wachtwoord herstel</h2>
  <article>
    <p>
      Als u uw wachtwoord bent vergeten, klik dan op de link op het bord in de pagina "mijn wachtwoord vergeten".
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud zal een e-mail te sturen naar uw geregistreerde e-mail account om uw wachtwoord opnieuw in te stellen.
    </p>
    <p>
    PS Voor de sociale netwerk-account: als u wilt uw account wachtwoord te wijzigen, dan kunt u gebruik maken van uw bestaande sociale netwerk-account (Facebook of Google+) om uw bestaande wachtwoord te wijzigen.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Klik op de link in het e-mailbericht te beginnen met het opnieuw instellen van uw wachtwoord.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Voer alstublieft uw nieuwe wachtwoord in en druk op submit knop.
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud zal u automatisch aanmelden met uw nieuwe wachtwoord.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Wijzigen Cloud gebruikersprofiel en wachtwoord wijzigen</h2>
  <article>
    <p>
      Drukt u op de gebruiker pictogram op de rechterkant nadat u ingelogged bent op myZyXELcloud
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Voer uw huidige en het nieuwe wachtwoord voor uw account wachtwoord te wijzigen.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Bewerk cloud gebruikersprofiel
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Apparaat verbinding</h2>
  <article>
    <p>
      Drukt u op zoek-knop om te beginnen met het zoeken van uw apparaat automatisch. Als het niet in staat om uw apparaat te vinden, drukt u op op de knop "handmatig toevoegen" om uw apparaat handmatig toevoegen.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      myZyXELcloud vereist dat je de invoer van uw MAC-adres en het serienummer op uw apparaat handmatig toevoegen.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Druk op de "Submit" knop om het koppelen van uw toestel te bevestigen
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      Binnen 10 minuten, drukt u op de verbidnings-knop op uw toestel.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Druk op de "Bevestig" knop om setup DDNS en UPnP-service.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>DDNS  instellingen</h2>
  <article>
    <p>
      Voer alstublieft een gewenste hostnaam voor uw DDNS met 3 tot 63 tekens. Het eerste teken moet een letter zijn.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>UPnP  instellingen</h2>
  <article>
    <p>
      Vervolgens zal myZyXELcloud uw UPnP instellingen synchroniseren
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud zal alle UPnP diensten in een lijst tonene die al op uw apparaat zijn geïnstalleerd, selecteert u welke dienst (en) die u wilt in- of uitschakelen
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud zal reageren met de bijgewerkte resultaten van UPnP-instellingen, (voorbeeld: NAS540 HTTP webservice standaard poort is 8000, vul dan de URL http: // uwnaam: 8000, en ownCloud wordt http://yourname.zyxel.me:5000/pkg/ownCloud/, FTP is ftp: / /yourname.zyxel.me)
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Gefeliciteerd, kunt u gekoppelde toestel nu onder "Mijn apparaten" zien.
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>