<!-- Introduction -->
<li>
  <h2>Giriş</h2>
  <article>
    <p>
      myZyXELcloud, uzak uygulama yönetimi ve bir Internet bağlantısına sahip herhangi bir yerden ZyXEL ağ cihazları aksesuarınıza güvenli erişime yönelik çözümünüzdür!
      <br>
      myZyXELcloud, bulut portalında oturum açmak için 3 yol sağlar. Ek kullanıcı bilgileri girmeden, var olan “FACEBOOK” veya “Google+” sosyal ağ hesabınızı kullanarak oturum açabilirsiniz. Bir sosyal ağ hesabınız yoksa, e-posta adresinizle myZyXELcloud kaydı yaptırabilirsiniz.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Sosyal ağla oturum açın</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Genel profilinizin ve e-posta adresinizin FACEBOOK'tan alınması için lütfen myZyXELcloud isteğini kabul edin.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Genel profilinizin ve e-posta adresinizin Google+'tan alınması için lütfen myZyXELcloud isteğini kabul edin.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Lütfen ZyXEL bulut kullanım hükümlerini inceleyip kabul edin.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      Sosyal ağ hesabınızla oturum açtıktan sonra, myZyXELcloud portalı üzerinde kullanıcı profilinizi düzenleyebilirsiniz. Hesap şifrenizi değiştirmek isterseniz, var olan şifrenizi değiştirmek için lütfen var olan sosyal ağ hesabınızı (FACEBOOK veya Google+) kullanın.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>myZyXELcloud portalına kaydolun</h2>
  <article>
    <p>Lütfen kaydolma sayfasındaki tüm gerekli bilgileri doldurun</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud, e-posta hesabınıza bir onay e-postası gönderecektir.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Lütfen e-posta hesabınızın gelen kutusunu denetleyip, hesap kaydınızı onaylamak için e-postadaki bağlantıya tıklayın.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>Sayfa, onaylama sayfasına yönlendirecektir</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>Şifremi unuttum</h2>
  <article>
    <p>
      Şifrenizi unutursanız, lütfen oturum açma sayfasındaki “forgot my password” ("şifremi unuttum") bağlantısına tıklayın.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      myZyXELcloud, hesap şifrenizi sıfırlamak için kayıtlı e-posta hesabınıza bir e-posta gönderecektir.
    </p>
    <p>
    Not: Sosyal ağ hesabı için, hesap şifrenizi değiştirmek isterseniz, var olan şifrenizi değiştirmek amacıyla lütfen var olan sosyal ağ hesabınızı (FACEBOOK veya Google+) kullanın.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Şifrenizi sıfırlamaya başlamak için lütfen e-posta mesajındaki bağlantıya tıklayın.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Lütfen yeni şifrenizi girip Submit (Gönder) düğmesine basın.
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      myZyXELcloud, yeni sıfırlanan şifrenizle otomatik olarak oturum açacaktır.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Bulut kullanıcı profilini düzenleyin ve şifreyi değiştirin</h2>
  <article>
    <p>
      myZyXELcloud oturumu açtıktan sonra lütfen sağ taraftaki kullanıcı simgesine<i class="member_icon"></i>basın.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Geçerli şifreyi ve hesap şifresini değiştirmeye yönelik yeni şifreyi girin.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Bulut kullanıcı profilini düzenleyin
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Cihaz Eşleştirme</h2>
  <article>
    <p>
      Cihazınızı otomatik olarak aramayı başlatmak için lütfen arama düğmesine basın. Cihazınız bulunamazsa, cihazınızı elle eklemek için lütfen “Manually Add” (Elle Ekle) düğmesine basın.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      myZyXELcloud, cihazınızın elle eklenmesi için MAC adresi ve seri numarası bilgilerinizi girmenizi gerektirir.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Onaylayıp cihazınızı eşleştirmek için lütfen “Submit” (Gönder) düğmesine basın.
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      10 dakika içinde aygıtınızda Pairing (Eşleştirme) düğmesine basın.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      DDNS ve UPnP hizmetini ayarlamak için “Confirm” (Onayla) düğmesine basın.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>DDNS Ayarı</h2>
  <article>
    <p>
      Lütfen DDNS için 3-63 karakter arasında istediğiniz bir ana bilgisayar adı girin. İlk karakter bir harf olmalıdır.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>UPnP Ayarı</h2>
  <article>
    <p>
      Ardından, myZyXELcloud, UPnP ayarlarını eşitleyecektir.
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud, cihazınızda yüklü olan tüm UPnP hizmetlerini listeleyecektir; lütfen etkinleştirmek veya devre dışı bırakmak istediğiniz hizmetleri seçin.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud, güncellenmiş UPnP ayarlarının sonuçlarıyla yanıt verecektir (örnek: NAS540 HTTP web hizmeti varsayılan bağlantı noktası 8000 olduğunda, URL http://yourname:8000, ownCloud http://yourname.zyxel.me:5000/pkg/ownCloud/ ve FTP ftp://yourname.zyxel.me şeklindedir).
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Tebrikler, eşleştirilen cihazı “My Devices” (Cihazlarım) altında görebilirsiniz.
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>