<!-- Introduction -->
<li>
  <h2>Bevezető</h2>
  <article>
    <p>
      A myZyXELcloud az Ön választása alkalmazásainak távoli kezelésére, és a ZyXEL hálózat eszköz erőforrásainak elérésére a világon bárhonnan, ahol van internet elérés.
      <br>
      A myZyXELcloud segítségével 3 módon jelentkezhet be a felhőbe. Bejelentkezhet a már létező közösségi fiókjával, mint a „FACEBOOK” vagy a „Google+”, és nem kell további felhasználói adatokat megadnia. Ha nem rendelkezik közösségi fiókkal, e-mail címével is regisztrálhat a myZyXELcloud szolgáltatásra.
    </p>
  </article>
</li>

<!-- Sign in -->
<li>
  <h2>Bejelentkezés közösségi fiókkal</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Fogadja el a myZyXELcloud kérését, hogy hozzáférhessen nyilvános profiljához és e-mail címéhez FACEBOOK adatlapján.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Fogadja el a myZyXELcloud kérését, hogy hozzáférhessen nyilvános profiljához és e-mail címéhez Google+ adatlapján.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Olvassa el és fogadja el a ZyXEL Cloud felhasználási feltételeit.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      Miután bejelentkezett közösségi fiókjával, a myZyXELcloud portálon szerkesztheti felhasználói profilját. Ha szeretné módosítani fiókja jelszavát, a közösségi fiókjának (FACEBOOK vagy Google+) segítségével módosíthatja korábbi jelszavát.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>

<!-- Register -->
<li>
  <h2>Regisztráció a myZyXELcloud portálon</h2>
  <article>
    <p>Adjon meg minden szükséges adatot a regisztrációs oldalon.</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>A myZyXELcloud megerősítő e-mailt fog küldeni e-mail fiókjára.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Ellenőrizze e-mail fiókja bejövő üzeneteit, majd kattintson az e-mailben kapott hivatkozásra a fiók hitelesítéséhez..</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>Átirányításra kerül a megerősítő oldalra.</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>

<!-- Forget password -->
<li>
  <h2>Elfelejtett jelszó</h2>
  <article>
    <p>
      Ha elfelejtette jelszavát, kattintson a „forgot my password” (elfelejtett jelszó) hivatkozásra a bejelentkező oldalon.
    </p>
    <%= image_tag 'help/en/login.png' %>
    <p>
      A myZyXELcloud jelszava visszaállításához egy jelszó-visszaállítási e-mailt fog küldeni regisztrált e-mail címére.
    </p>
    <p>
    U.i. közösségi fiókokhoz: Ha szeretné fiókja jelszavát módosítani, a közösségi fiókjának (FACEBOOK vagy Google+) segítségével módosíthatja korábbi jelszavát.
    </p>
    <%= image_tag 'help/en/forgot_password-1.png' %>
    <p>
      Kattintson az e-mailben kapott hivatkozásra a jelszó visszaállításának megkezdéséhez.
    </p>
    <%= image_tag 'help/en/forgot_password-3.png' %>
    <p>
      Adja meg új jelszavát, és nyomja meg a submit (elküldés) gombot.
    </p>
    <%= image_tag 'help/en/forgot_password-4.png' %>
    <p>
      Új jelszavával automatikusan bejelentkezik a myZyXELcloud-ra.
    </p>
    <%= image_tag 'help/en/forgot_password-2.png' %>
  </article>
</li>

<!-- Profile -->
<li>
  <h2>Felhasználói profil szerkesztése és jelszó módosítása</h2>
  <article>
    <p>
      Kattintson a<i class="member_icon"></i>felhasználó ikonra a jobb oldalon, miután bejelentkezett a myZyXELcloud-ra.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Módosításhoz adja meg eddigi jelszavát, majd az új jelszót.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Felhasználói profil szerkesztése
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>

<!-- Pairing -->
<li>
  <h2>Eszköz párosítása</h2>
  <article>
    <p>
      Nyomja meg a keresés gombot az eszköz automatikus kereséséhez. Ha nem találhatóak eszközök, kattintson a „manually add” (kézi hozzáadás) gombra az eszköz kézi hozzáadásához.
    </p>
    <%= image_tag 'help/en/search_device-1.png' %>
    <p>
      Ha kézzel ad eszközöket myZyXELcloud szolgáltatáshoz, meg kell adni a MAC címet és a sorozatszámot.
    </p>
    <%= image_tag 'help/en/manully_add.png' %>
    <p>
      Nyomja meg a „submit” (elküldés) gombot az eszköz párosításának megerősítéséhez
    </p>
    <%= image_tag 'help/en/manully_add-1.png' %>
    <p>
      10 percen belül nyomja meg a pairing (párosítás) gombot készülékén.
    </p>
    <%= image_tag 'help/en/manully_add-2.png' %>
    <p>
      Nyomja meg a „confirm” (megerősítés) gombot a DDNS és UPnP szolgáltatások beállításához.
    </p>
    <%= image_tag 'help/en/manully_add-3.png' %>
  </article>
</li>

<!-- DDNS -->
<li>
  <h2>DDNS beállítás</h2>
  <article>
    <p>
      Adja meg a DDNS gazda 3 – 63 karakterből álló nevét. Az első karakter betű legyen.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>

<!-- UPNP -->
<li>
  <h2>UPnP beállítás</h2>
  <article>
    <p>
      Ezt követően a myZyXELcloud szinkronizálja az UPnP beállításokat.
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      A myZyXELcloud kilistáz minden UPnP szolgáltatást, mely már telepítve van eszközére, válassza ki, mely szolgáltatás(oka)t szeretne engedélyezni vagy kikapcsolni.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      A myZyXELcloud a frissített UPnP beállításokkal válaszol (például: a NAS540 HTTP web szolgáltatás alapértelmezett portja a 8000, az URL-t a következőképp adja meg: http:// yourname:8000, és a saját felhője: http://yourname.zyxel.me:5000/pkg/ownCloud/, az FTP: ftp://yourname.zyxel.me).
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Gratulálunk, most már látja a párosított eszközöket a „My Devices” (Saját Eszközök) között.
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>