<!-- DE: Register -->
<li>
  <h2>Direktanmeldung</h2>
  <article>
    <p>
      Unter dem Punkt „Anmeldung“, können Sie sich ohne Facebook und Google+ anmelden
    </p>
    <%= image_tag 'help/de/login.png' %>
    <p>
      Dazu diese Felder ausfüllen und die AGB akzeptieren. Mit Anmeldung fortfahren.
    </p>
    <%= image_tag 'help/de/sign_up.png' %>
    <p>
      Der Account wurde erfolgreich angelegt. Bitte in der E-Mail den Bestätigungslink aktivieren
    </p>
    <%= image_tag 'help/de/sign_up-1.png' %>
    <p>
      Hier den Bestätigungslink klicken zur Aktivierung des Account
    </p>
    <%= image_tag 'help/de/sign_up-2.png'%>
    <p>
      Nach dem Klick sind Sie erfolgreich angemeldet 
    </p>
    <%= image_tag 'help/de/sign_up-3.png' %>
  </article>
</li>

<!-- DE: Facebook login -->
<li>
  <h2>Facebook Login</h2>
  <article>
    <p>
      Für die Facebook Anmeldung, auf den Facebook Button klicken
    </p>
    <%= image_tag 'help/de/fb_login-1.png'%>
    <p>
      myZyXELcloud Zugriff auf Facebook erlauben und mit OK bestätigen
    </p>
    <%= image_tag 'help/de/fb_login-2.png'%>
    <p>
      Die myZyXELcloud AGB akzeptieren
    </p>
    <%= image_tag 'help/de/oauth_check.png'%>
    <p>
      Der Facebook Login war erfolgreich
    </p>
    <%= image_tag 'help/de/fb_login-4.png'%>
  </article>
</li>

<!-- DE: Google login -->
<li>
  <h2>Google+ Login</h2>
  <article>
    <p>
      Für die Google+ Anmeldung, auf den Google+ Button klicken
    </p>
    <%= image_tag 'help/de/login.png' %>
    <p>
      Nun die Google+ Daten eingeben und anmelden
    </p>
    <%= image_tag 'help/de/google_login-1.png' %>
    <p>
      myZyXELcloud Zugriff auf Google+ erlauben und mit Akzeptieren bestätigen
    </p>
    <%= image_tag 'help/de/google_login-2.png' %>
    <p>
      Die myZyXELcloud AGB akzeptieren
    </p>
    <%= image_tag 'help/de/oauth_check.png'%>
    <p>
      Der Google+ Login war erfolgreich
    </p>
    <%= image_tag 'help/de/google_login-3.png'%>
  </article>
</li>

<!-- DE: Installation NAS540 -->
<li>
  <h2>Installation NAS540</h2>
  <article>
    <p>
      Im Optimal-Fall wird der NAS540 gefunden und direkt angezeigt Sie müssen dazu im selben Netzwerk sein! 
    </p>
    <%= image_tag 'help/de/install_nas_1.png' %>
    <p>
      Sollten Sie Ihren NAS540 hier nicht sehen, klicken Sie auf manuelles hinzufügen
    </p>
    <%= image_tag 'help/de/install_nas_1.png' %>
    <p>
      Sie können Ihren NAS540 nun per MAC-Adresse und Seriennummer direkt eintragen 
    </p>
    <%= image_tag 'help/de/install_nas_2.png' %>
    <p>
      Mit einem Klick auf „Verbinden“ starten Sie den Synchronisations-Prozess 
    </p>
    <%= image_tag 'help/de/install_nas_3.png' %>
    <p>
      Bestätigen Sie die nächste Abfrage mit „Bestätigen“
    </p>
    <%= image_tag 'help/de/install_nas_4.png' %>
    <p>
      Innerhalb der nächsten 10 Minuten, müssen Sie nun blinkende Copy/Sync Taste an Ihrem NAS540 einmal kurz drücken. 
    </p>
    <%= image_tag 'help/de/install_nas_5.png' %>
  </article>
</li>

<!-- DE: Finish installation NAS540 -->
<li>
  <h2>Verbinden</h2>
  <article>
    <p>
      Der NAS540 wird dann sofort gefunden und Sie bestätigen die Synchronisation 
    </p>
    <%= image_tag 'help/de/install_nas_6.png' %>
  </article>
</li>

<!-- DE: DDNS Setup -->
<li>
  <h2>DynDNS Einrichtung</h2>
  <article>
    <p>
      Nun entscheiden Sie sich für einen DynDNS Namen Ihrer Wahl. Der Service ist kostenfrei!
    </p>
    <%= image_tag 'help/de/ddns_setup-1.png' %>
    <p>
      Die Einstellungen werden innerhalb von einer Minute geprüft 
    </p>
    <%= image_tag 'help/de/ddns_setup-2.png' %>
    <p>
      Ist der Name frei, wird Ihnen dies positiv angezeigt. Ist der Name vergeben, wählen Sie erneut einen anderen. 
    </p>
    <%= image_tag 'help/de/ddns_setup-3.png' %>
  </article>
</li>

<!-- DE: UPNP Setup -->
<li>
  <h2>UPnP Einrichtung</h2>
  <article>
    <p>
    Nun werden noch die UPnP Einstellungen konfiguriert.
    Achtung: Ihr Router muss UPnP unterstützen,
    sonst müssen Sie die Port-Weiterleitungen manuell im Router vornehmen! 
    </p>
    <%= image_tag 'help/de/upnp_setup-1.png'%>
    <p>
      Wählen Sie hier, welche Dienste nach außen freigeschaltet werden sollen. 
    </p>
    <%= image_tag 'help/de/upnp_setup-2.png'%>
    <p>
      Innerhalb einer Minute werden die Ports konfiguriert 
    </p>
    <%= image_tag 'help/de/upnp_setup-1.png'%>
  </article>
</li>

<!-- DE: My device -->
<li>
  <h2>Übersicht</h2>
  <article>
    <p>
      Der NAS540 ist nun konfiguriert und zeigt Ihnen die ersten Informationen an 
    </p>
    <%= image_tag 'help/de/my_device.png'%>
  </article>
</li>

<!-- DE: Reset password -->
<li>
  <h2>Passwort vergessen</h2>
  <article>
    <p>
      Klicken Sie auf den Passwort vergessen Button Achtung: Geht nur bei Direktanmeldung, sonst Passwort bei Facebook / Google+ neu anfordern! 
    </p>
    <%= image_tag 'help/de/reset_password-1.png'%>
    <p>
      E-Mail Adresse eintragen, auf die der Account registriert wurde 
    </p>
    <%= image_tag 'help/de/reset_password-2.png'%>
    <p>
      Sie erhalten per E-Mail die Möglichkeit ein neues Passwort zu vergeben 
    </p>
    <%= image_tag 'help/de/reset_password-3.png'%>
  </article>
</li>

<!-- DE: Unpairing -->
<li>
  <h2>Gerät trennen</h2>
  <article>
    <p>
      Wenn Sie das Gerät nicht mehr in der Cloud haben möchten, Können Sie dieses hier trennen 
    </p>
    <%= image_tag 'help/de/unpairing-1.png' %>
    <p>
      Bestätigen Sie die Entfernung 
    </p>
    <%= image_tag 'help/de/unpairing-2.png' %>
    <p>
      Das Gerät wurde nun erfolgreich getrennt 
    </p>
    <%= image_tag 'help/de/unpairing-3.png' %>
  </article>
</li>