<% provide(:flow, @device.product.model_class_name + "," + I18n.t("titles.unpairing")) %>

<div class="unpairing">
  <div class="zyxel_content">
    <%# display the unpairing device %>
    <div class="zyxel_device">
      <%= image_tag @device.product.asset.url(:medium), class: "zyxel_device_image" %>
      <h2 class="zyxel_h2_icon1"><%= @device.product.model_class_name %></h2>
    </div>
    <%# display the unpairing device - end %>


    <%# unpairing information %>
    <span class="zyxel_span2"><%= I18n.t("warnings.settings.unpairing.instruction") %></span>

    <%# unpairing button %>
    <div class="zyxel_btn_area i18n_fix">
      <%= link_to I18n.t("labels.cancel"), "/personal/index", class: "zyxel_btn_back" %>
      <%= link_to I18n.t("labels.confirm"), unpairing_path(@device.encoded_id), method: :delete, class: "zyxel_btn_ok" %>
    </div>
    <%# unpairing button -end %>
  </div>
</div>