<% provide(:disable_alert, "hidden") %>
<div ng-app="invitation_app"  ng-controller="InvitationCtrl"
	ng-init="invitationKey='<%= @invitation_key %>';session=<%= @accepted_session.to_json() %>; validation=<%= @validation.to_json %>; init();">

	<div style="">
		<span class="zyxel_span2" ng-switch on="step">
		  <span ng-switch-when="connecting">
		  	<%= I18n.t("warnings.settings.invitation.connecting") %>
		  </span>
		  <span ng-switch-when="failure">
		  	<%= I18n.t("warnings.settings.invitation.failure") %>
		  	<blockquote style="border-left: white;white-space:normal">
		  		<%= I18n.t("warnings.settings.invitation.failure_desc", :share_point => "#{@share_point}") %>
		  	</blockquote>
		  </span>
		</span>
	</div>

	<div class="bottom-content" ng-switch on="panel">
    <div class="countdown" ng-switch-when="loading">
      <%= image_tag 'loading.gif' %>
    </div>
    <div class="zyxel_btn_area i18n_fix" ng-switch-when="retry">
      <%= link_to(I18n.t("labels.retry"), "/invitations/accept/#{@invitation_key}", class: "zyxel_btn_ok zyxel_enabled") %>
    </div>
    <div class="zyxel_btn_area" ng-switch-when="done"> 
      <div><span class="zyxel_h2"><%= I18n.t("warnings.settings.invitation.success") %></span></div>
      <div>
        <span class="zyxel_span2">
          <blockquote style="border-left: white;white-space: normal;">
            <%= I18n.t("warnings.settings.invitation.success_desc", :share_point => "#{@share_point}") %>
          </blockquote>
          <div style="text-align: left; padding-left: 50px; margin-top: 40px; font-size: 23px"><%= I18n.t("warnings.settings.invitation.zyxel_drive") %></div>
          <div style="text-align: left; padding-left: 50px">
            <%= I18n.t("warnings.settings.invitation.zyxel_drive_desc") %>
          </div>
          <div style="margin-top: 20px">
            <%= image_tag("findme_ZyXEL Drive.png") %>
          </div>
        </span>
      </div>
      <div style="margin-top: 30px"><%= I18n.t("warnings.settings.invitation.zyxel_drive_download_desc") %></div>
      <div><%= link_to(image_tag("zdrive_invitation_qrcode.png"), SecondaryConfig.find(:zdrive_url)) %></div>
      <div><%= link_to(SecondaryConfig.find(:zdrive_url), SecondaryConfig.find(:zdrive_url)) %></div>
    </div>
    <div class="zyxel_btn_area" ng-switch-when="done">
      <%= link_to(I18n.t("labels.confirm"), root_path, class: "zyxel_btn_ok") %>
    </div>
  </div>
</div>

<script type="text/javascript">
	var invitation_app = angular.module('invitation_app', []);
	invitation_app.controller('InvitationCtrl', function ($scope, $timeout, $http) {
		$scope.step = 'connecting';
    $scope.panel = 'loading';
		$scope.checkConnectionUrl = '/invitations/check_connection/';
    $scope.logoutUrl = '/users/sign_out';
		$scope.interval = 3000;

	    $scope.init = function(){
	    	if($scope.validation.success == false){
	    		$scope.failureStep();
	    		return;
	    	}
		    if($scope.session.status == 'start'){
			    $scope.connectingStep();
			    $scope.checkConnection();
		    }
	    };

	    $scope.checkConnection = function(){
		    switch($scope.session.status){
		      case 'start':
		      	$scope.poll();
		      	break;
		      case 'timeout':
		      	// timeout 時顯示 "接受失敗"
		        $scope.failureStep();
		        break;
		      case 'failure':
		        $scope.failureStep();
		        break;
		      case 'done':
            $http.get($scope.logoutUrl)
		        $scope.completedStep();
		        break;
		    }
	    };

	    $scope.poll = function(){
	    	if($scope.invitationKey != ''){
			    var url = $scope.checkConnectionUrl + $scope.invitationKey;
			    $timeout(function(){
				    $http.get(url).success(function(response) {
				        $scope.session = response;
				        $scope.checkConnection();
				    }).error(function(response){
				        $scope.failureStep();
				    });
			    }, $scope.interval);
		    }
	    };

	    $scope.connectingStep = function(){
	      $scope.step = 'connecting';
	      $scope.panel = 'loading';
	    };
	    $scope.failureStep = function(){
	      $scope.step = 'failure';
	      $scope.panel = 'retry';
	    };

	    $scope.completedStep = function(){
	      $scope.step = 'done';
	      $scope.panel = 'done';
	    };

	});
</script>
