<li>
  <h2>Sign in by social network</h2>
  <article>
    <%= image_tag 'help/en/login.png' %>
    <br>
    <p>
      Please accept myZyXELcloud request to retrieve your public profile and e-mail address from FACEBOOK.
    </p>
    <%= image_tag 'help/en/facebook-1.png' %>
    <p>
      Please accept myZyXELcloud request to retrieve your public profile and e-mail address from Google+.
    </p>
    <%= image_tag 'help/en/google_plus.png' %>
    <p>
      Please check and agree the ZyXEL cloud terms of use.
    </p>
    <%= image_tag 'help/en/facebook-2.png' %>
    <p>
      After signing in by using your social network account, you can edit your user profile on myZyXELcloud portal. If you want to change your account password, please use your existing social network account (FACEBOOK or Google+) to change your existing password.
    </p>
    <%= image_tag 'help/en/edit_profile_Social.png' %>
  </article>
</li>