<li>
  <h2>ลงชื่อเข้าใช้งานโดย เครือข่ายโวเชียลมีเดีย</h2>
  <article>
    <%= image_tag 'help/th/login.png' %>
    <br>
    <p>
      กรุณายอมรับคำขอ myZyXELcloud ในการเรียกดูโปรไฟล์สาธารณะของคุณและที่อยู่อีเมลจาก FACEBOOK
    </p>
    <%= image_tag 'help/th/facebook-1.png' %>
    <p>
      กรุณายอมรับคำขอ myZyXELcloud ในการเรียกดูโปรไฟล์สาธารณะของคุณและที่อยู่อีเมลจาก Google+
    </p>
    <%= image_tag 'help/th/google_plus.png' %>
    <p>
      กรุณาตรวจสอบและยอมรับเงื่อนไขในการใช้งานของ ZyXEL cloud
    </p>
    <%= image_tag 'help/th/facebook-2.png' %>
    <p>
      หลังจากที่ลงนามโดยใช้บัญชีผู้ใช้เครือข่ายโซเชียลมีเดีย คุณสามารถแก้ไขข้อมูลส่วนตัวของผู้ใช้ของคุณบน myZyXELcloud พอร์ทัล ถ้าคุณต้องการที่จะเปลี่ยนรหัสผ่านของบัญชีของคุณ โปรดใช้บัญชีผู้ใช้เครือข่ายโซเชียลมีเดียที่มีอยู่ (Facebook หรือ Google +) เพื่อเปลี่ยนรหัสผ่านของคุณที่มีอยู่
    </p>
    <%= image_tag 'help/th/edit_profile_Social.png' %>
  </article>
</li>