- content_for :title do
  .title_sign_in
    = I18n.t('titles.sign_in')

.white_email
.signin_content_wrapper
  = simple_form_for resource, as: resource_name, url: session_url(resource_name), method: :post do |f|
    = f.input :email, label: false, wrapper_html: { class: 'has-feedback' } do
      = f.input_field :email, placeholder: I18n.t('user.labels.email'), autofocus: true, class: 'form-control', required: true
      / = content_tag 'span', fa_icon('envelope-o'), class: 'form-control-feedback'
      = content_tag 'span', image_tag("email-gray.png"), class: 'form-control-feedback'
    = f.input :password, label: false, wrapper_html: { class: 'has-feedback' } do
      = f.input_field :password, placeholder: I18n.t('user.labels.password'), class: 'form-control', required: true, maxlength:14
      / = content_tag 'span', image_tag("eye-open.png"), class: 'form-control-feedback'
    .show-password-wrapper{:title => 'Show password'}
    = f.input :remember_me, label: false do
      = link_to I18n.t('labels.forgot_password'), new_user_password_url
      .checkbox.checkbox-custom
        = check_box_tag :remember_me, '1', params[:remember_me]
        = label_tag :remember_me, I18n.t('user.labels.remember_me')
    .flash-wrapper
      - if flash.present?
        - if flash[:success]
          .alert.alert-success= simple_format flash[:success]
        - if flash[:notice]
          .alert.alert-info= simple_format flash[:notice]
        - if flash[:alert]
          .alert.alert-warning= simple_format flash[:alert]
        - if flash[:error]
          .alert.alert-danger= simple_format flash[:error]
    = f.button :submit, I18n.t('titles.sign_in'), class: 'btn-custom btn-block'

- content_for :postcontent do
  .oauth
    .or
      = I18n.t("labels.or")
    .oauth_wrapper
      .facebook.col-xs-6.col-sm-6.col-md-6.col-lg-6
        = button_to "", user_omniauth_authorize_path(:facebook), title: "log in by facebook", class: "btn-round fb"
      .google.col-xs-6.col-sm-6.col-md-6.col-lg-6
        = button_to "", user_omniauth_authorize_path(:google_oauth2), title: "log in by google+", class: "btn-round google"

  .register
    .new_register
      = I18n.t('user.labels.new_to_cloud')
    .create_account
      = link_to I18n.t('user.labels.create_account'), new_registration_path(resource_name), class: "create_account_link"

  .locale_and_help
    .locale.col-xs-6.col-sm-6.col-md-6.col-lg-6
      .dropdown
        %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
          .language=image_tag("icon-language.png")
          .language=I18n.t('labels.language')
          .language=image_tag("angle-down-green.png")
        %ul.dropdown-menu{ :role => "menu" }
          - @options_path.each do |l, value|
            %li=link_to l, value

    .help.col-xs-6.col-sm-6.col-md-6.col-lg-6
      .help_wrapper
        = image_tag("icon-help-green.png")
        = link_to 'Help', '/help', target: "_blank"

  / .spacer.hidden-xs{ :style => "height: 20px;" }

- content_for :inner_footer do
  .inner_footer_wrapper.sign_in
    Copyright © 2016 ZyXEL Communications Corp.

