<fieldset>
  <table class="zyxel_table_style user_info">
    <tr>
      <th><%= I18n.t("user.labels.email") %></th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th><span>* </span><%= f.label :current_password, I18n.t("user.labels.current_password"), class: "th_label" %></th>
      <td><%= f.password_field :current_password, autocomplete: "off", class: "input_style1 td_field", maxlength:14 %></td>
    </tr>
    <tr>
      <th><span>* </span><%= f.label :password, I18n.t("user.labels.password"), class: "th_label" %></th>
      <td>
        <%= f.password_field :password, autocomplete: "off", class: "input_style1 td_field", maxlength:14 %>
        <div class="password_suggestion"><%= I18n.t("user.labels.password_suggestion")%></div>
        <div id="password_meter"></div>
      </td>
    </tr>
    <tr>
      <th><span>* </span><%= f.label :password_confirmation, I18n.t("user.labels.password_confirmation"), class: "th_label" %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "off", class: "input_style1 td_field", maxlength:14 %></td>
    </tr>
  </table>
</fieldset>
