= f.input :display_name, label: I18n.t("user.labels.display_name") + "*", wrapper_html: { class: 'has-feedback'} do
  = f.input_field :display_name, placeholder: I18n.t("user.labels.display_name"), class: 'form-control', required: true

= f.input :first_name, label: I18n.t("user.labels.first_name"), wrapper_html: { class: 'has-feedback'} do
  = f.input_field :first_name, placeholder: I18n.t("user.labels.first_name"), class: 'form-control', required: false

= f.input :middle_name, label: I18n.t("user.labels.middle_name"), wrapper_html: { class: 'has-feedback'} do
  = f.input_field :middle_name, placeholder: I18n.t("user.labels.middle_name"), class: 'form-control', required: false

= f.input :last_name, label: I18n.t("user.labels.last_name"), wrapper_html: { class: 'has-feedback'} do
  = f.input_field :last_name, placeholder: I18n.t("user.labels.last_name"), class: 'form-control', required: false

= f.label :gender, I18n.t("user.labels.gender"), class: 'control-label display-block'
= f.collection_radio_buttons :gender, [['male', I18n.t("user.labels.male")], ['female', I18n.t("user.labels.female")]], :first, :last, item_wrapper_class: :radio_button_gender

= f.label :birthday, I18n.t("user.labels.birthday"), class: 'control-label display-block'
.even_distribution_wrapper
  = f.date_select :birthday, {start_year: 1955, end_year: 2012, use_month_numbers: true, prompt: { day: I18n.t("user.labels.day"), month: I18n.t("user.labels.month"), year: I18n.t("user.labels.year") }}, class: "select-style"

= f.input :mobile_number, label: I18n.t("user.labels.phone_number"), wrapper_html: { class: 'has-feedback'} do
  = f.input_field :mobile_number, placeholder: I18n.t("user.labels.phone_number"), class: 'form-control', required: false, maxlength: 40

= f.label :country, I18n.t("user.labels.country"), class: 'control-label display-block'
= f.country_code_select :country, {'' => ''}, {}, class: "select-style"

.terms_and_edm
  = f.input :edm_accept, label: (I18n.t("user.labels.edm_1") + "<br>" + I18n.t("user.labels.edm_2")).html_safe, as: :boolean, boolean_style: :inline, wrapper_html: { class: 'checkbox-custom' }


