<fieldset>
  <table class="zyxel_table_style user_info">
    <tr>
      <th><%= I18n.t("user.labels.email") %></th>
      <td><%= current_user.email %></td>
    </tr>
    <%# User name %>
    <tr>
      <th>
        <%= f.label :display_name, "<span>* </span>#{I18n.t("user.labels.display_name")}".html_safe, class: "th_label" %>
      </th>
      <td>
        <%= f.text_field :display_name, class: "input_style1 td_field" %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :first_name, I18n.t("user.labels.first_name") %>
      </th>
      <td>
        <%= f.text_field :first_name, class: "input_style1" %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :middle_name, I18n.t("user.labels.middle_name") %>
      </th>
      <td>
        <%= f.text_field :middle_name, class: "input_style1" %>
      </td>
    </tr>
    <tr>
      <th>
        <%= f.label :last_name, I18n.t("user.labels.last_name") %>
      </th>
      <td>
        <%= f.text_field :last_name, class: "input_style1" %>
      </td>
    </tr>
    <%# User name - end %>

    <%# Gender %>
    <tr>
      <th>
        <%= f.label :gender, I18n.t("user.labels.gender") %>
      </th>
      <td>
        <label class="radio-inline">
          <%= f.radio_button :gender, "male"%>
          <%= label :gender, I18n.t("user.labels.male") %>
        </label>
        <label class="radio-inline">
          <%= f.radio_button :gender, "female"%>
          <%= label :gender, I18n.t("user.labels.female") %>
        </label>
      </td>
    </tr>
    <%# Gender - end %>

    <%# Birthday %>
    <tr>
      <th>
        <%= f.label :birthday, I18n.t("user.labels.birthday") %>
      </th>
      <td class="date_select user_info_select">
        <%= f.date_select :birthday, {start_year: 1955, end_year: 2012, use_month_numbers: true, prompt: { day: I18n.t("user.labels.day"), month: I18n.t("user.labels.month"), year: I18n.t("user.labels.year") }}, class: "select_style select_width100" %>
      </td>
    </tr>
    <%# Birthday - end %>

    <%# Phone number %>
    <tr>
      <th>
        <%= f.label :mobile_number, I18n.t("user.labels.phone_number") %>
      </th>
      <td>
        <%= f.text_field :mobile_number, class: "input_style1", maxlength: 40 %>
      </td>
    </tr>
    <%# Phone number - end %>

    <%# Language %>
    <tr>
      <th>
        <%= f.label :language, I18n.t("user.labels.language") %>
      </th>
      <td class="user_info_select">
        <%= f.select :language, @locale_options, {}, {class: "select_style"} %>
      </td>
    </tr>
    <%# Language - end %>

    <%# Country %>
    <tr>
      <th>
        <%= f.label :country, I18n.t("user.labels.country") %>
      </th>
      <td class="user_info_select">
        <%= f.country_code_select :country, {'' => ''}, {}, {class: "select_style"} %>
      </td>
    </tr>
    <%# Country - end %>

  </table>
</fieldset>
<%# e-Mail DM %>
<div class="checkbox">
  <%= f.check_box :edm_accept %>
  <label for="user_edm_accept" class="checkbox_label"><span></span><%= I18n.t("user.labels.edm") %></label>
</div>
<%# e-Mail DM - end %>