<%# need-add-i18n %>
<% provide(:flow, @device.model_name + ",DDNS setting") %>

<div class="ddns" ng-app>

  <%# Content %>
  <div class="zyxel_content">
    <%# need-add-i18n %>
    <h2 class="zyxel_h2">Host name:</h2>

    <%= form_for @ddns_session, url: "/ddns/check", html: {name: "ddnsForm"} do |f| %>

      <%= f.text_field :device_id, class: "hidden", value: params[:id] %>

      <div class="zyxel_host_name">
        <input id="ddns-host-name" type="text" name="hostName" ng-model="hostName" ng-trim="false" required ng-pattern="/^[a-zA-Z][a-zA-Z0-9\-]*$/" ng-maxlength="64" ng-minlength="3">
        <label id="domain-name" class="zyxel_span1">.<%= @domain_name %></label>
      </div>

      <%# Error message for host name %>
      <%# need-add-i18n %>
      <div class="zyxel_arlert_area" ng-show="ddnsForm.hostName.$dirty && ddnsForm.hostName.$invalid">
        <span class="error_message" ng-show="ddnsForm.hostName.$error.pattern">名稱中不可包含特殊字元</span>
        <span class="error_message" ng-show="ddnsForm.hostName.$error.required">Hostname 不能是空的</span>
        <span class="error_message" ng-show="ddnsForm.hostName.$error.maxlength">Hostname 長度不能超過64個字元</span>
        <span class="error_message" ng-show="ddnsForm.hostName.$error.minlength">Hostname 長度不能少於3個字元</span>
      </div>
      <%# Error message for host name - end %>

      <%# Information for host name format %>
      <%# need-add-i18n %>
      <span class="zyxel_note">注意: 名稱中不可包含以下特殊字元<br />
逗號( ， )、波狀符號( ~ )、冒號( ： )、驚嘆號(！ )、數字符號( ＃ )、
錢幣符號( ＄ )、at符號( @ )、百分比( ％ )、乘幕符號( ＾ )、連字號( ＆ )、
單引號( ' )、句號( ． )、括號( (  ) )、大括號( { } )、底線( ＿ )、空白字元(  )
      </span>

      <div class="zyxel_btn_area">
        <%# need-add-i18n %>
        <%= link_to("Cancel", "/personal/index", class: "zyxel_btn_back") %>
        <%= f.submit "Confirm", id: "submit-btn", class: "zyxel_btn_submit", "ng-disabled" => "ddnsForm.hostName.$pristine || ddnsForm.hostName.$dirty && ddnsForm.hostName.$invalid" %>
      </div>
    <% end %>
  </div>
  <%# Content - end %>
</div>
