<% provide(:flow, @ddns_session.device.model_name + "," + I18n.t("titles.settings.ddns")) %>
<% provide(:tab, 'my_devices') %>

<div class="ddns" ng-app="ddns_app" ng-controller="DdnsCtrl" ng-init="session=<%= @ddns_session.to_json(:only => [:id, :device_id]) %>; checkStatus();">

  <div ng-switch on="step" class="zyxel_content" style="max-width: 550px">
    <%# display success information when bot change the session status %>
    <div ng-switch-when="success">
      <h2 class="zyxel_h2_icon"><%= I18n.t("warnings.settings.ddns.success") %></h2>
      <span class="zyxel_span2"><%= @ddns_session.full_domain %></span>
      <div class="zyxel_btn_area">
        <%= link_to I18n.t("labels.confirm"), @link_path, class: "zyxel_btn_ok" %>
      </div>
    </div>
    <%# display success information - end %>

    <div ng-switch-when="loading" class="waiting">
      <span class="zyxel_span2"><%= I18n.t("warnings.settings.ddns.sync") %></span>
      <%= image_tag 'loading.gif' %>
    </div>
  </div>
</div>
