<% provide(:flow, I18n.t("titles.my_devices") ) %>
<% provide(:tab, 'my_devices') %>

<div class="personal">

  <%# paired device list %>
  <div class="zyxel_content" style="max-width:660px">
    <table class="zyxel_table_style3">

      <%# check paired devices %>
      <% if @paired %>

        <%# show all paired devices %>
        <% @pairing.each do |pairing| %>
          <tr>
            <th><%= image_tag pairing.device.product.asset.url, width: "100" %></th>
            
            <%# show ddns information %>
            <td>
              <table class="zyxel_table_style4">
              <%# get setting information %>
                <% info_hash = get_info(pairing) %>
                <tr>
                  <td class=<%= info_hash[:class_name] %> ><%= info_hash[:title] %></td>
                </tr>
                <tr>
                  <td><span>WAN IP</span><%= info_hash[:ip] %></td>
                </tr>
                <tr>
                  <td><span>Model</span><%= info_hash[:model_name] %></td>
                </tr>
                <tr>
                  <td><span>Last update</span><%= info_hash[:date] %></td>
                </tr>
              </table>
            </td>
            <%# show ddns information - end %>

            <td>
              <%# change the data format to string %>
              <% device_id = pairing.device_id.to_s %>

              <%= link_to I18n.t("labels.settings.ddns") , "/ddns/setting/" + device_id, class: "zyxel_btn_style1 margin_right5" %>
              <%= link_to I18n.t("labels.settings.upnp") , upnp_path(device_id), class: "zyxel_btn_style1 margin_right5" %>
              <%= link_to I18n.t("labels.unpairing") , "/unpairing/index/" + pairing.id.to_s, class: "zyxel_btn_style2" %>
            </td>
          </tr>
        <% end %>
        <%# show all paired devices - end %>

      <%# display message if paired devices are empty %>
      <% else %>
        <div class="empty">您沒有已配對的裝置</div>
      <% end %>
      <%# check paired devices - end %>

    </table>
  </div>
  <%# paired device list - end %>
</div>