<% provide(:flow, I18n.t("titles.my_devices") ) %>
<% provide(:tab, 'my_devices') %>

<div class="personal">

  <%# paired device list %>
  <div class="zyxel_content" style="max-width:660px">
    <table class="zyxel_table_style3">

      <%# check paired devices %>
      <% unless @pairing.empty? %>

        <%# show all paired devices %>
        <% @pairing.each do |pairing| %>
          <tr>
            <th><%= image_tag pairing.device.product.asset.url(:medium) %></th>

            <%# show ddns information %>
            <td>
              <table class="zyxel_table_style4">
              <%# get setting information %>
                <% info_hash = get_info(pairing) %>
                <tr style="position:relative">
                  <td class=<%= info_hash[:class_name] %> ><%= info_hash[:title].chomp('.') %></td>
                  <% if info_hash[:title].length > 50 %>
                  <td class="hide_domain_name"><span><%= info_hash[:title].chomp('.') %></span></td>
                  <% end %>
                </tr>
                <tr>
                  <td><span><%= I18n.t("labels.settings.ddns.wan_ip") %></span><%= info_hash[:ip] %></td>
                </tr>
                <tr>
                  <td><span><%= I18n.t("labels.settings.ddns.model") %></span><%= info_hash[:model_name] %></td>
                </tr>
                <tr>
                  <td><span><%= I18n.t("labels.settings.ddns.last_update") %></span><%= info_hash[:date] %></td>
                </tr>
                <tr>
                  <td><span><%= I18n.t("labels.mac_address") %></span><%= info_hash[:mac_address]%></td>
                </tr>
                <tr>
                  <td><span><%= I18n.t("labels.settings.ddns.firmware_version") %></span><%= info_hash[:firmware_version] %></td>
                </tr>
              </table>
            </td>
            <%# show ddns information - end %>
          </tr>
          <tr>
            <td colspan="3" class="text-right table_btn_area">
              <%= link_to I18n.t("labels.settings.ddns.instruction") , "/ddns/setting/" + pairing.device.escaped_encrypted_id, class: "zyxel_btn_style1 margin_right5" %>
              <%= link_to I18n.t("labels.settings.upnp.instruction") , upnp_path(pairing.device.escaped_encrypted_id), class: "zyxel_btn_style1 margin_right5" %>
              <%= link_to I18n.t("labels.unpairing") , "/unpairing/index/" + pairing.device.escaped_encrypted_id, class: "zyxel_btn_style2" %>
            </td>
          </tr>
        <% end %>
        <%# show all paired devices - end %>

      <%# display message if paired devices are empty %>
      <% else %>
        <div class="empty"><%= I18n.t("warnings.settings.pairing.not_found") %></div>
      <% end %>
      <%# check paired devices - end %>

    </table>
  </div>
  <%# paired device list - end %>
</div>