<h1>My devices</h1>
<div class="personal">

  <%# paired device list %>
  <div class="device-box">
    <div class="device-list">

      <%# check paired devices %>
      <% if @paired %>

        <%# show all paired devices %>
        <% @pairing.each do |pairing| %>
          <div class="device" >

            <%# change the data format to string %>
            <% device_id = pairing.device_id.to_s %>
            
            <div class="device-img">
              <%= image_tag pairing.device.product.asset.url %>
            </div>
            <div class="device-name">
              <%= pairing.device.model_name %>
            </div>
            <%= link_to "DDNS 設定", "/ddns/setting/" + device_id, class: "btn btn-default" %>
            <%= link_to "UPnP 設定", upnp_path(device_id), class: "btn btn-default" %>
            <%= link_to "取消配對", "/unpairing/index/" + pairing.id.to_s, class: "btn btn-default" %>
          </div>
        <% end %>
        <%# show all paired devices - end %>

      <%# display message if paired devices are empty %>
      <% else %>
        <div class="empty">您沒有已配對的裝置</div>
      <% end %>
      <%# check paired devices - end %>

    </div>
  </div>
  <%# paired device list - end %>
</div>