<%# need-add-i18n %>
<% provide(:flow, "My devices") %>

<div class="personal">

  <%# paired device list %>
  <div class="zyxel_content" style="max-width:620px">
    <table class="zyxel_table_style3">

      <%# check paired devices %>
      <% if @paired %>

        <%# show all paired devices %>
        <% @pairing.each do |pairing| %>
          <tr>
            <th><%= image_tag pairing.device.product.asset.url, width: "100" %></th>
            
            <%# show ddns information %>
            <td>
              <table class="zyxel_table_style4">

                <%# Setting information %>
                <% setting_model = pairing.device.model_name %>
                <% if pairing.device.ddns %>
                  <% setting_title = pairing.device.ddns.full_domain %>
                  <% setting_ip = pairing.device.ddns.ip_address %>
                  <% setting_date = pairing.device.ddns.updated_at.strftime("%Y/%m/%d") %>
                <% else %>
                  <%# need-add-i18n %>
                  <% setting_title = "DDNS is not Configured" %>
                  <% setting_ip = pairing.device.device_session.ip %>
                <% end %>
                <%# Setting information - end %>

                <tr>
                  <td class="orange"><%= setting_title %></td>
                </tr>
                <tr>
                  <td><span>WAN IP</span><%= setting_ip %></td>
                </tr>
                <tr>
                  <td><span>Model</span><%= setting_model %></td>
                </tr>
                <tr>
                  <td><span>Last update</span><%= setting_date %></td>
                </tr>
              </table>
            </td>
            <%# show ddns information - end %>

            <td>
              <%# change the data format to string %>
              <% device_id = pairing.device_id.to_s %>

              <%# need-add-i18n %>
              <%= link_to "ddns設定", "/ddns/setting/" + device_id, class: "zyxel_btn_style1 margin_right5" %>
              <%= link_to "uPNP設定", upnp_path(device_id), class: "zyxel_btn_style1 margin_right5" %>
              <%= link_to "取消配對", "/unpairing/index/" + pairing.id.to_s, class: "zyxel_btn_style2" %>
            </td>
          </tr>
        <% end %>
        <%# show all paired devices - end %>

      <%# display message if paired devices are empty %>
      <% else %>
        <div class="empty">您沒有已配對的裝置</div>
      <% end %>
      <%# check paired devices - end %>

    </table>
  </div>
  <%# paired device list - end %>
</div>