<%# disable information %>
<% provide(:disable_alert, "hidden") %>
<%= render 'devise/shared/profile_breadcrumb' %>
<div class="personal">
  <div class="zyxel_content" style="max-width: 530px;">
    <% if flash[:notice] %>
      <div class="zyxel_smallok_area">
        <span><%= flash[:notice] %></span>
      </div>
    <% end %>
    <table class="zyxel_table_style zyxel_table_style1 user_info">
      <tr>
        <th><%= I18n.t("user.labels.email") %></th>
        <td colspan="3">
          <%= current_user.email %>
          <% if session[:oauth] == 'facebook' %>
            <span class="fb_primary_mail"><%= I18n.t("devise.omniauth_callbacks.fb_primary_mail")%></span>
          <%end%>
        </td>
      </tr>
      <% if !current_user.display_name.blank? %>
        <tr>
          <th><%= I18n.t("user.labels.display_name") %></th>
          <td colspan="3"><%= current_user.display_name %></td>
        </tr>
      <% end %>
      <% if !current_user.first_name.blank? %>
        <tr>
          <th><%= I18n.t("user.labels.first_name") %></th>
          <td colspan="3"><%= current_user.first_name %></td>
        </tr>
      <% end %>
      <% if !current_user.middle_name.blank? %>
        <tr>
          <th><%= I18n.t("user.labels.middle_name") %></th>
          <td colspan="3"><%= current_user.middle_name %></td>
        </tr>
      <% end %>
      <% if !current_user.last_name.blank? %>
        <tr>
          <th><%= I18n.t("user.labels.last_name") %></th>
          <td colspan="3"><%= current_user.last_name %></td>
        </tr>
      <% end %>
      <% if !current_user.gender.blank? %>
        <tr>
          <th><%= I18n.t("user.labels.gender") %></th>
          <td colspan="3"><%= I18n.t("user.labels.#{current_user.gender}")%></td>
        </tr>
      <% end %>
      <% if !current_user.birthday.blank? %>
        <tr>
          <th><%= I18n.t("user.labels.birthday") %></th>
          <td colspan="3"><%= current_user.birthday.strftime("%m/%d") %></td>
        </tr>
      <% end %>
      <% if !current_user.mobile_number.blank? %>
        <tr>
          <th><%= I18n.t("user.labels.phone_number") %></th>
          <td colspan="3"><%= current_user.mobile_number %></td>
        </tr>
      <% end %>
      <% if !current_user.country.blank? %>
        <tr>
          <th><%= I18n.t("user.labels.country") %></th>
          <td colspan="3"><%= I18n.t(current_user.country, :scope => :countries)%></td>
        </tr>
      <% end %>
    </table>
    <div class="zyxel_edm">
      <%= check_box_tag "edm_accept", value = current_user.edm_accept, current_user.edm_accept, disabled: true %>
      <label><span></span><%= I18n.t("user.labels.edm") %></label>
    </div>

    <div class="zyxel_btn_area i18n_fix">
      <% if !session[:oauth] %>
        <%= link_to I18n.t("labels.change_password"), edit_user_registration_path(type: "password"), class: "zyxel_btn_ok" %>
      <% end %>
      <%= link_to I18n.t("labels.edit_profile"), edit_user_registration_path(type: "profile"), class: "zyxel_btn_ok" %>
      <%#= link_to "應用程式管理", oauth_authorized_applications_path, class: "zyxel_btn_ok" %>
      <%= link_to I18n.t("doorkeeper.authorized_applications.index.title"), oauth_authorized_applications_path, class: "zyxel_btn_ok" %>
    </div><!-- zyxel_btn_area -->

  </div><!-- content -->
</div>