<h1>Unpairing</h1>

<div class="personal">

  <%# check unpairing status %>
  <%# and setting device information, information text, and link text on this page %>
  <% if @unpaired_device %>
    <% device = @pairing %>
    <% info = "已取消與此裝置之配對" %>
    <% link_text = "確定" %>
  <% else %>
    <% device = @pairing.device %>
    <% info = "請問您是否要取消與此裝置的配對？" %>
    <% link_text = "取消" %>
  <% end %>
  <%# check unpairing status - end %>

  <%# display the unpairing device %>
  <div class="device">
    <div class="device-img">
      <%= image_tag device.product.asset.url %>
    </div>
    <div class="device-name">
      <%= device.model_name %>
    </div>
  </div>
  <%# display the unpairing device - end %>

  <%# unpairing information %>
  <div class="info">
    <%= info %>
  </div>
  <%# unpairing information - end %>

  <%# unpairing button %>
  <div class="button-set">
    <div class="check-device">
      <% if !@unpaired_device %>
        <%= link_to "確定", "/personal/destroy/" + @pairing.id.to_s, method: :delete, class: "btn btn-primary" %>
      <% end %>
      <%= link_to link_text, "/personal/index", class: "btn btn-default" %>
    </div>
  </div>
  <%# unpairing button -end %>
</div>