<% provide(:flow, I18n.t("titles.manually")) %>
<% provide(:tab, 'search') %>

<div class="discoverer">

  <div class="zyxel_content">

    <%= form_for @device, :url => '/discoverer/search' do |f| %>
      <fieldset>
        <table class="zyxel_table_style add_label">
          <tr>
            <th class="width25">
              <%= f.label :mac_address, I18n.t("labels.mac_address") %>
            </th>
            <td colspan="3">
              <%= f.text_field :mac_address, class: "input_style1" %>
            </td>
          </tr>
          <% if flash[:error] %>
            <tr>
              <th class="error"></th>
              <td colspan="3" class="error">
                <div class="zyxel_arlert_area mac_address_alert">
                  <span class="error_message"><%= flash[:error] %></span>
                </div>
              </td>
            </tr>
          <% end %>
          <tr>
            <th class="width25">
              <%= f.label :serial_number, I18n.t("labels.serial_number") %>
            </th>
            <td colspan="3">
              <%= f.text_field :serial_number, class: "input_style1" %>
            </td>
          </tr>
          <% if flash[:alert] %>
            <tr>
              <th class="error"></th>
              <td colspan="3" class="error">
                <div class="zyxel_arlert_area serial_number_alert">
                  <span class="error_message"><%= flash[:alert] %></span>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </fieldset>

      <div class="zyxel_btn_area">
        <%= link_to(I18n.t("labels.cancel"), "/discoverer/index", class: "zyxel_btn_back") %>
        <%= f.submit I18n.t("labels.submit"), class: "zyxel_btn_submit" %>
      </div>
    <% end %>
  </div>
</div>
