<% provide(:tab, 'search') %>

<div class="discoverer" ng-app="discoverer_app" ng-controller="DeviceListCtrl" ng-init="devices=<%= @result.to_json %>;">
  <div class="zyxel_bread">
    <span><%= I18n.t("titles.search_devices") %></span>
    <%# Top content - result text and re-find button %>
    <button class="zyxel_btn_main icon_research" ng-click="doClick()"><%= I18n.t("labels.research") %></button>
  </div>

  <div class="zyxel_content">
    <%# Devices list %>
    <table class="zyxel_table_style2 devices_list">
      <tr class="device" ng-repeat="device in devices">
        <th class="search_list_hover">
          <span>Model Name: {{device.model_name}}</span>
          <span>Serial Number: {{device.serial_number}}</span>
          <span>Mac Address: {{device.mac_address}}</span>
          <span>Firmware Version: {{device.firmware_version}}</span>
        </th>
        <td class="td_left"><img ng-src="{{device.img_url}}"></td>
        <th>{{device.product_name}}</th>
        <td class="td_right pairing_btn_fix">
          <a ng-if="!device.paired" href="/discoverer/check/{{device.device_id}}" class="zyxel_btn_style1" ><%= I18n.t("labels.pairing") %></a>
          <span ng-if="device.paired" class="zyxel_btn_disabled pull-right disabled" >paired</span>
        </td>
      </tr>
    </table>
    <%# Device list - end %>

    <%# bottom content - Manually Add button %>
    <div class="zyxel_btn_area">
      <%= link_to(I18n.t("labels.manually"), "/discoverer/add/", class: "zyxel_btn_ok") %>
    </div>

    <%# save json data in this node %>

  </div>
</div>

<script type="text/javascript">
  // get devices data on search device page
  var discoverer_app = angular.module('discoverer_app', []);
  discoverer_app.controller('DeviceListCtrl', function ($scope, $http) {

    $scope.doClick = function() {

      $http.get("/discoverer/index.json").success(function(response) {
        $scope.devices = response;
      });
    }
  });
  // get devices data - end
</script>