<% provide(:tab, 'search') %>

<div class="discoverer" ng-app="discoverer_app" ng-controller="DeviceListCtrl">
  <div class="zyxel_bread">
    <span><%= I18n.t("titles.search_devices") %></span>
    <%# Top content - result text and re-find button %>
    <button class="zyxel_btn_main icon_research" ng-click="doClick()"><%= I18n.t("labels.research") %></button>
  </div>

  <div class="zyxel_content">
    <%# Devices list %>
    <table class="zyxel_table_style2 devices_list">
      <tr class="device" ng-repeat="device in devices">
        <td class="td_left"><img ng-src="{{device.img_url}}" style="width:100px;"></td>
        <th>{{device.product_name}}</th>
        <td class="td_right"><a href="/discoverer/check/{{device.device_id}}" class="zyxel_btn_style1" ><%= I18n.t("labels.pairing") %></a></td>
      </tr>
    </table>
    <%# Device list - end %>

    <%# bottom content - Manually Add button %>
    <div class="zyxel_btn_area">
      <%= link_to(I18n.t("labels.manually"), "/discoverer/add/", class: "zyxel_btn_ok") %>
    </div>

    <%# save json data in this node %>
    <%= tag("div", data: @result, id: "device-data") %>
  </div>
</div>
