<% provide(:tab, 'search') %>

<div class="discoverer" ng-app="discoverer_app" ng-controller="DeviceListCtrl" ng-init="devices=<%= @result.to_json %>;">
  <div class="zyxel_bread">
    <span><%= I18n.t("titles.search_devices") %></span>
    <%# Top content - result text and re-find button %>
    <button id="discoverer_index_research_button" class="zyxel_btn_main icon_research" ng-click="doClick()"><%= I18n.t("labels.research") %></button>
  </div>

  <div class="zyxel_content" style="max-width:660px">
    <%# Devices list %>
    <table class="zyxel_table_style2 devices_list">
      <tr class="device" ng-repeat="device in devices">
        <td class="td_left"><img ng-src="{{device.img_url}}"></td>
        <th class="device_info">
          <span class="model_name">{{device.model_class_name}}</span>
          <span><%= I18n.t("labels.mac_address") %>  {{device.mac_address}}</span>
          <span><%= I18n.t("labels.settings.ddns.firmware_version") %>  {{device.firmware_version}}
            <span ng-if="device.firmware_version.length >35"  class="device_info_hover">{{device.firmware_version}}</span>
          </span>
        </th>
        <td class="td_right pairing_btn_fix">
          <a ng-if="!device.paired" class="" href="/discoverer/check/{{device.device_id}}"  ><%= image_tag "pairing_icon.gif", :size=> "130x42", :alt=>I18n.t("labels.pairing"), :title=>I18n.t("labels.pairing") %></a>
          <span ng-if="device.paired" class="zyxel_btn_style1 zyxel_btn_disabled pull-right disabled" ><%= I18n.t("labels.paired") %></span>
          <a ng-if="device.has_indicator_module && !device.paired" ng-show="!device.indicated" class="zyxel_btn_style1" href="#" ng-click="doIndicate($index);"><%= I18n.t("labels.find_nas") %></a>
          <span ng-if="device.has_indicator_module && !device.paired" ng-show="device.indicated" class="zyxel_btn_style1 zyxel_btn_disabled pull-right disabled" ><%= I18n.t("labels.find_nas") %></span>
        </td>
      </tr>
    </table>
    <%# Device list - end %>

    <%# bottom content - Manually Add button %>
    <div class="zyxel_btn_area">
      <%= link_to(I18n.t("labels.manually"), "/discoverer/add/", class: "zyxel_btn_ok") %>
    </div>

    <%# save json data in this node %>

  </div>
</div>

<script type="text/javascript">
  // get devices data on search device page
  var discoverer_app = angular.module('discoverer_app', []);
  discoverer_app.controller('DeviceListCtrl', function ($scope, $timeout, $http) {

    $scope.doClick = function() {
      $http.get("/discoverer/index.json").success(function(response) {
        $scope.devices = response;
      });
    }

    $scope.doIndicate = function($index){
      var indicated_device = $scope.devices[$index]
      indicated_device.indicated = true
      $http.get("/discoverer/indicate/" + indicated_device.device_id + ".json").success(function(response) {});
      var timer = $timeout(function(){ indicated_device.indicated = false; }, 30000);
      $scope.$on("$destroy", function(event){ $timeout.cancel(timer); });
    }
  });


</script>