<div class="header">
  <%# LOGO %>
  <h1 class="header_h1_rwd">
    <a href="/">
      <%= image_tag "logo.png", width: "118", height: "60" %>
    </a>
  </h1>

  <ul class="nav nav-pills nav_zyxel nav_zyxel_rwd">
    <%# Display member link when user signed in %>
    <% if user_signed_in? && !current_page?('/help') && valid_unconfirmed_access? %>
      <li><%= show_unverified_button %></li>
      <li>
        <%= link_to "", "/personal/profile", class: "member" %>
      </li>
    <% end %>

    <% if current_page?(controller: 'sessions', action: 'create') ||
          current_page?(controller: 'sessions', action: 'new')
    %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= I18n.t('labels.language') %>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% @locale_options.each do |l, value| %>
          <li><%= link_to l, params.merge("locale" => value) %></li>
        <% end %>
      </ul>
    </li>
    <% end %>

    <%# Display sign out link when user signed in %>
    <% if user_signed_in? && !current_page?('/help') && valid_unconfirmed_access? %>
      <li>
        <%= link_to I18n.t("labels.sign_out") , destroy_user_session_path, class: "sign_out" %>
      </li>
    <% end %>

  </ul>
</div>