<!DOCTYPE html>
<html >
<head>
  <title>Pcloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <%# header %>
    <%= render 'layouts/header' %>

    <%# tab - when user signed in %>
    <% if user_signed_in? %>
      <div class="zyxel_tab">
        <div class="btn-group btn-group-justified">
          <%# need-add-i18n %>
          <a class="btn btn_tab_color1 zyxel_tab_btn" href="/personal/index">My Devices</a>
          <a class="btn btn_tab_color2 zyxel_tab_btn" href="/discoverer/index">Search Devices</a>
        </div>
      </div>
    <% end %>

    <%# breadcrumb %>
    <% page_flow = breadcrumb(yield(:flow)) %>
    <% if page_flow %>
      <div class="zyxel_bread">
        <% page_flow.each_with_index do |flow, index| %>
          <% if index == page_flow.length - 1 %>
            <span><%= flow %></span>
          <% else %>
            <%= flow %> &gt; 
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%# breadcrumb - end %>
    <%= yield %>

    <%# need remove when release %>
    <% if flash[:notice] || flash[:alert] || flash[:error] %>
      <div class="test">
        <p>Test Information, it will be removed when release.</p>
        <p class="notice"><%= flash[:notice] %></p>
        <p class="alert"><%= flash[:alert] %></p>
        <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
        <% end %>
      </div>
    <% end %>
  </div>
    
</body>
</html>
