<!DOCTYPE html>
<html >
<head>
  <title>Pcloud</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <%# header %>
    <%= render 'layouts/header' %>

    <%# breadcrumb - when user signed in %>
    <% if user_signed_in? %>
      <div class="zyxel_tab">
        <div class="btn-group btn-group-justified">
          <%# need-add-i18n %>
          <a class="btn btn_tab_color1 zyxel_tab_btn" href="/personal/index">我的裝置</a>
          <a class="btn btn_tab_color2 zyxel_tab_btn" href="/discoverer/index">搜尋裝置</a>
        </div>
      </div>
    <% end %>
    <%# breadcrumb - end %>

    <%# need remove when release %>
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
    <% if flash[:error] %>  
      <p class="error"><%= flash[:error] %></p>
    <% end %>
    <%= yield %>  
  </div>
    
</body>
</html>
