!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    / %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    %title ZyXEL PCloud
    = stylesheet_link_tag    theme, media: 'all'
    = javascript_include_tag 'application'
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    / [if lt IE 9]
      = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'
      = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'
    = csrf_meta_tags

  %body
    .container-fluid.hidden-xs
      .space
    .main.container-fluid
      .logo
      .title
        = yield :title
      .precontent
        = yield :precontent
      .content
        = yield
      .postcontent
        = yield :postcontent
      .footer.visible-xs-block
        = yield :footer
      / .footer.visible-xs-block
      /   Copyright © 2016 ZyXEL Communications Corp.
    .footer.container-fluid.hidden-xs
      Copyright © 2016 ZyXEL Communications Corp.
      / %br
      / All rights reserved.