!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title ZyXEL PCloud
    = stylesheet_link_tag    theme, media: 'all'
    = javascript_include_tag 'application'
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    / [if lt IE 9]
      = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'
      = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'
    = csrf_meta_tags

  %body
    .container-fluid.hidden-xs
      .row
        .col-xs-12
          .space
    .main.container-fluid
      .row
        .col-xs-12
          .logo
      .row
        .col-xs-12
          .title
            = yield :title
      .row
        .col-xs-12
          .precontent
            = yield :precontent
      .row
        .col-xs-12
          .content
            = yield
      .row
        .col-xs-12
          .postcontent
            = yield :postcontent
      .row.visible-xs-block
        .col-xs-12
          .footer
            Copyright © 2016 ZyXEL Communications Corp.
    .footer.container-fluid.hidden-xs
      .row
        .col-xs-12
          Copyright © 2016 ZyXEL Communications Corp.
          %br
          All rights reserved.