!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    / %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    %title ZyXEL PCloud
    = stylesheet_link_tag    theme, media: 'all'
    = javascript_include_tag 'application'
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    / [if lt IE 9]
      = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js'
      = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'
    = csrf_meta_tags

  %body{ data: { controller: controller_name, action: action_name } }
    .container-fluid.hidden-xs
      .space
    .main.container-fluid
      .logo
        = link_to "", root_path, html_options = { :style => "display: block; width: 120px; height: 48px;" }
      .title
        = yield :title
      .precontent
        = yield :precontent
      .content
        = yield
      .postcontent
        = yield :postcontent
      %footer{ class: (current_path?(:sessions, [:new, :create]) ? 'sign_in' : 'normal') }
        = I18n.t('user.labels.copy_right')
      / - if current_page?(new_user_session_path)
      /   %footer.sign_in
      /     = I18n.t('user.labels.copy_right')
      / - else
      /   %footer.normal
      /     = I18n.t('user.labels.copy_right')